//- 404页面

html
	head
		meta(name="viewport", content="width=device-width")
		title 找不到页面
		+h.load("/template/css/reset.css", "/template/css/fonts.css", "/template/css/style.scss")
		style(type="text/css")
			body {
				background: #eee;
			}
	body
		.not_found
			h1 404
			p 你哪个单位的？走错了吧
			.img
			a(href="/") 返回首页
