//- 关于页面

extends base

block title
	title= "关于可乐橙 - " + site.title

block content
	.special
		#about
			.intro
				.avatar
				p
					|可乐橙是一名UI/UX设计师
					br
					|喜欢素净朴实的东西
					br
					|现居杭州
			.page_wrap
				.skills
					h2.title
						strong %
						|[ 可乐橙的各项参数 ]
					ul.clearfix
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p 配色
									span 84%
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p 排版
									span 92%
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p 图形创意
									span 61%
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p 动画
									span 69%
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p 原型
									span 75%
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p 交互
									span 64%
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p 响应式
									span 83%
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p H5
									span 75%
						li
							.item.circle_progress
								.pie_left_wrap.pie_wrap
									span.pie_left
								.pie_right_wrap.pie_wrap
									span.pie_right
								.text.center
									p Js
									span 65%
				.remark
					h2.title
						strong ?
						|[ 可乐橙是怎样一只橙子 ]
					.myself
						p
							|入门级科幻迷
							br
							|爱好阅读、写作
							br
							|爱听
							a(href="http://music.163.com/#/playlist?id=37832046", target="_blank") 奥华子
							|、
							a(href="http://music.163.com/#/playlist?id=37833022", target="_blank") Simple Plan
							br
							|爱看
							a(href="http://movie.douban.com/subject/2300586/", target="_blank") 《这个男人来自地球》
							br
							|还有什么呢
							br
							|…… 
						p
							|其实这部分不该由我自己写
							br
							|所以请朋友代笔了，欢迎你的参与！ 
							br
							|参与方式： 留言板、 电子邮件、
							br
							|微信、来电、二维码、NFC、
							br
							|莫尔斯电报、达芬奇密码……
					.friends.clearfix
						.column
							.item
								h4
									span cyRotel
									|的评价：
								.content
									p 可乐橙同学是我认为现实生活中最值得交往的朋友，是一个打心底热爱生活的设计师。我经常会翻他的博客，一边看一边呵呵笑，有时心情不好，就看他的生活板块，看一小会儿就正能量满满，他是一个会散播阳光的少年。感谢 ^ ^
									p 略举几个例子：
									p 可乐橙是个热爱观察的人，在工作中时常能发现一些问题，并积极思考解决方法。当然，这些收获，我是相当乐于分享出来的：工作总是分心？一会儿刷微博一会儿逛淘宝？可乐橙教你高招，鱼死网破式：把PS的内存占用调高到80%，这样PS里面快得灰起来，PS外面卡得像春运一样。于是，你得到了救赎。
									p 和小刚在楼下一家小店吃饭，这家店的背景音乐居然不是网络歌曲，还是许巍的歌有木有！！“心中那自由地世界，如此的清澈高远。盛开着永不凋零……” 小刚接上：“弹棉花——啊……”
									p 钱MM是个程序员，同时也是个书法家、文艺青年理性与人文兼修的大好男儿。某日钱MM说要即兴挥毫，于是他取纸笔研墨，在宣纸上洋洋洒洒写下一行巨大的：Hello world ！
							.item
								h4
									span 蜕.锐.悦
									|的评价：
								.content
									p 认识橙也是偶然的机会，尽管不熟悉，每次聊都十分投机，酣畅淋漓的感觉，“喜欢龙猫的都是好人，有一颗善良的心”，好温暖的话啊，谈起设计和产品，聊起人生和理想，更是讲也讲不完，好朋友，值得讲心里话的人
							.item
								h4
									span 愚蠢的人类
									|的评价：
								.content
									p 我心目中的头头，和我差不多～比我勤快，脾气和我一样好。依稀记得高中时的一幕幕：
									p 喂？头头啊，你在干神马噢
									p 我在玩海盗王（一个矮子航海士）头头比较喜欢可爱的东东，比如说头顶绵羊的八姐姐。我问他为什么喜欢八姐姐。他说：因为长的像沁沁。
									p 那你为什么喜欢沁沁呢？ 这个问题我没有问过他，因为知道他会说：因为长的像八姐姐。话说这八姐姐是谁呢。天知地知，你知我知。 八姐姐的歌，最有印象的一句是：我看着你，走过切。。。莫非八姐姐是南昌人！或许这也是头头喜欢八姐姐的原因吧。
									p 回想过很多次这样的画面：我走进一个房间，房间连着个小阳台，小阳台窗户外面是个学校，阳台的窗户总是拉着窗帘，有点昏暗。一台散着银光的屏幕前坐着一个人。
									p 头头～ 我说
									p 你来了啊。 他回头看着我。
									p 接下来，就没了。。。
									p 无厘头笑话，童真的笑容。这就是我认识的头头～～～其实还有很多，但是我要打竞技场了～所以就这样了
						.column
							.item
								h4
									span 章鱼
									|的评价：
								.content
									p 橙同学，英文名Eric，认识快…wait for it…11年了！！！
									p 3年的同班，3年的校友，N年的好朋友（ N大于等于5 ）；
									p 初一，橙同学总是提着Miss Zhu的录音机快速地消失在楼梯的转角处；
									p 初二，橙同学还是提着Miss Zhu的录音机快速地消失在楼梯的转角处；
									p 初三，橙同学开始给大家普及五子棋和红警，同时秘密化身为自由撰稿人，生动记录了五班同学与数学老师的恩怨情仇，爆料了猴子月饼之间的那点小事；另有江湖传闻说，橙同学的身后，其实还隐藏着一个强大而神秘、令河海生物闻风丧胆的组织——治！壳！委！
									p 高一，橙同学退居2线，成为我的校友；
									p 高二，某人心血来潮客串了一把俺的同班同学；
									p 高三。。。先未完待续好不好，明天加班，睡了先。
									p 上回说到高三，恩，经过一个星期的反复回忆，我啥都没想起来（终于把那段日子忘掉了，yeah）；于是到了高三结束，我开始发同学录，有一张发到了橙同学的班上，他回复的亮点如下：1.要去台湾看王心凌（当年那个疑惑加羡慕，台湾的女朋友啊 有木有！！！)；2.一定（绣球式滴咏叹）要回国！！！——怎么这么有远见？！；接着到了初中同学聚会；接着暑假；接着大学。。。话说题目要求是写150字，只好这么言简意赅了 咳咳咳，太影响发挥了 有木有
									p 其实说来惭愧，真正开始认识可乐同学，还是在毕业之后。那会儿大家刚毕业，成天百无聊赖泡在网上，不是瞎聊就是策划同学聚会，然后聚会上见了面再接着聊，聊完之后回家还把感想感触总结一下写在blog里供大家后续评论分享，如此循环往复周而复始乐此不疲。。。期间，俺与可乐同学就5班，小月月，假期旅行等八卦问题断断续续交换了意见，并取得大多数共识。。。我当时很是佩服他的勇气，觉得不喜欢不适合的东西，拒绝的简单干脆，也不在意别人的目光。小闷骚，注重细节，行动派。。。典型八月份的前奏一狮子座。大学时，开心时刻之一就是收到你的短信，不管是节日问候，高考纪念日，天气变化小贴士，生日祝福，心理测试，智力问答，冷笑话，or 实况转播（宿舍打牌，学韩语，失恋啦，考完试，到家了。。。），短短几十个字中，总有那么一两处特别逗特别可乐的地方，让人不知不觉冲着手机傻笑。。。我觉得楼上那个把短信整理成日志是个好想法，我手机里也存了不少，哈哈哈哈哈～
							.item
								h4 
									span XH
									|的评价：
								.content
									p 怎么说呢，不是几句话就可以说完的，有时我都想把手机里存的公公的短信整理成一篇日志，恐怕也说不完，恐怕我只能用一个事实来简单的说明一下这个孩子：我的手机里永远存你的短信，你身上有种魅力让大家很喜欢，无论男女我们发自内心的真心喜欢你！安好，孩子，晚安~~

				include include/paginator.jade

		.page_wrap
			#fb_comments_container
				.ds-thread(data-thread-key="about", data-title="关于可乐橙", data-url="http://colachan.com/about")
				script
					var duoshuoQuery = {short_name:"greenzorro"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
