//- 电影收藏页面，适用于电影、书单，封面+简短文字

extends base

block title
	title= "电影收藏 - " + site.title

block content
	.special
		#movie.clearfix
			.page_wrap
				ul.clearfix
					li
						.item.clearfix
							h3
								a(href="https://movie.douban.com/subject/1294958/", target="_blank")
									img(alt="桂河大桥", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/89.jpg")
							.text
								a(href="https://movie.douban.com/subject/1294958/", target="_blank") 桂河大桥
								.content
									p 很小的时候看过，但是特别不像50年代的战争电影
									p 那时的多数战争电影浓墨重彩描绘战争细节，敌对双方指挥官人格高大全，下属都是路人甲
									p 这部却非常有趣，抛开战争的势力对抗，一切都关乎责任与荣誉
									p 而最有趣的地方在于，不同的视角，责任与荣誉却能产生完全不同的结果
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3769423/", target="_blank")
									img(alt="守护者联盟", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/88.jpg")
							.text
								a(href="http://movie.douban.com/subject/3769423/", target="_blank") 守护者联盟
								.content
									p 表面只是一部普通的美式动画电影，但有些非常微妙的特色
									p 武戏非常带劲，干脆利落，动感十足
									p 台词、配音与肢体语言都很有真人电影的感觉，不像多数动画电影那么夸张和刻意低龄化，看的过程中我不止一次产生了正在看美剧的错觉
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3212221/", target="_blank")
									img(alt="凯尔经的秘密", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/87.jpg")
							.text
								a(href="http://movie.douban.com/subject/3212221/", target="_blank") 凯尔经的秘密
								.content
									p 太棒了
									p 平面和立体的结合方式让人拍案叫绝
									p 画风有种非常奇特的细腻，看似夸张与简略的表面下隐藏了丰富的细节
									p 场景设定与过渡更是神奇，想象力信手拈来，可以说，每个画面都是插画级的存在
									p 而且，故事讲得还不差
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1780330/", target="_blank")
									img(alt="致命魔术", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/86.jpg")
							.text
								a(href="http://movie.douban.com/subject/1780330/", target="_blank") 致命魔术
								.content
									p 精彩绝伦的魔术师对决
									p 前半段的插叙倒叙让人有些错乱，其中却埋下了许多伏笔
									p 谜团层层揭开，一切悬念在结尾集中绽放，妙不可言
									p 这是第一部让我看完后立马倒回去看第二遍的电影，兴致丝毫未减
									p 即使没有了悬念，故事本身仍然堪称传奇，史诗般的对决
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1293182/", target="_blank")
									img(alt="十二怒汉", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/85.jpg")
							.text
								a(href="http://movie.douban.com/subject/1293182/", target="_blank") 十二怒汉
								.content
									p 要看1957年的版本，这部的故事比之后几部翻拍版更精彩
									p 一屋子上个世纪的人，在黑白镜头中争论案情，却丝毫没有距离感
									p 仿佛自己是现场的第13号陪审团成员，跟随众人以一种刁钻苛刻的方式追究事实细节
									p 驱散了情感与偏见后，看似板上钉钉的论断，也值得反复推敲
									p 敬理智一杯，文明因此而存在
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3819877/", target="_blank")
									img(alt="活埋", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/84.jpg")
							.text
								a(href="http://movie.douban.com/subject/3819877/", target="_blank") 活埋
								.content
									p 用最简单的场景呈现出最跌宕的情节，精彩绝伦
									p 在镜头的明暗中，亲历每一丝希望、每一分绝望
									p 随着时间推移，波折越加剧烈，一记无情重击画下句号
									p 最终，片尾再来一曲若无其事的轻快吉他，真是太恶毒了
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292226/", target="_blank")
									img(alt="2001太空漫游", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/83.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292226/", target="_blank") 2001太空漫游
								.content
									p 从现代的电影审美来看，这是一部观影体验极其糟糕的片
									p 因为它高度艺术抽象化，完全不属于大众电影的范畴，我并没有完全看明白
									p 但仍然非常值得一看！！
									p 怀着对人类未来的哲思与对电影艺术本身的敬畏，是本片唯一正确的打开方式
									p 唯有如此，才能体会到这部老电影的精妙与真实
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/25864085/", target="_blank")
									img(alt="火星救援", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/82.jpg")
							.text
								a(href="http://movie.douban.com/subject/25864085/", target="_blank") 火星救援
								.content
									p 这是我心目中的优秀科幻，尊重现实，尊重人心
									p 乐观与自嘲的背后，是太空的残酷与凶险
									p 跨越2亿公里的营救，智慧、坚持、勇气、合作、自由意志
									p 你会为整个人类文明感到自豪，漫漫星河，我们的确独一无二
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1300945/", target="_blank")
									img(alt="云中漫步", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/81.jpg")
							.text
								a(href="http://movie.douban.com/subject/1300945/", target="_blank") 云中漫步
								.content
									p 偶然又听到那首wind beneath my wings，便按捺不住要来重温这部95年的老电影
									p 就像多数同时代的电影，有剧烈的戏剧冲突、鲜明的高潮转折结局
									p 为什么越是结构简单的故事，偏偏越能打动人
									p 云中漫步，梦幻般的名字，正是整部电影最好的诠释
									p 宛如一场美丽的梦境，美得不太真实，却最为纯粹
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1806555/", target="_blank")
									img(alt="热血警探", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/80.jpg")
							.text
								a(href="http://movie.douban.com/subject/1806555/", target="_blank") 热血警探
								.content
									p 剪辑精炼，笑点意外，讽刺辛辣
									p 尽管结尾略潦草
									p 仍然是很纯粹的一部英式黑色喜剧
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/24405378/", target="_blank")
									img(alt="王牌特工：特工学院", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/79.jpg")
							.text
								a(href="http://movie.douban.com/subject/24405378/", target="_blank") 王牌特工：特工学院
								.content
									p 满满的浪漫主义色彩，绅士形象，骑士精神
									p 潇洒地淋漓尽致，作出了境界
									p 英式特工电影还真是擅长这个，不用在乎故事
									p 亚瑟、兰斯洛特、加拉哈德，都是亚瑟王与圆桌骑士故事中的人名
									p 这就是电影内心深处的情怀
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292267/", target="_blank")
									img(alt="银河系漫游指南", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/78.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292267/", target="_blank") 银河系漫游指南
								.content
									p 这部电影也需要一部观影指南：
									p 1. 放松心情，抛开对于世界的既有认知
									p 2. 不存在什么完整的故事
									p 3. 更不存在所谓真相、主旨
									p 4. 只要相信一切都是有趣且合理的
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1889243/", target="_blank")
									img(alt="星际穿越", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/77.jpg")
							.text
								a(href="http://movie.douban.com/subject/1889243/", target="_blank") 星际穿越
								.content
									p 温情与硬科幻，本身就是难得一见的组合
									p 各处细节都经得起科学的眼光反复推敲
									p 抽象的物理概念表达得形象直观，精妙绝伦
									p 然而精彩却不止于此
									p 再次相见的承诺，跨越重重时空阻隔的对话
									p 与此相比，拯救全人类似乎只是顺手而为
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1800597/", target="_blank")
									img(alt="虫师", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/76.jpg")
							.text
								a(href="http://movie.douban.com/subject/1800597/", target="_blank") 虫师
								.content
									p 很像一场禅意的旅行，不论是叙事还是故事本身都好比一杯淡茶
									p 这个世界美丽而危险，却没有冲突，没有争斗
									p 一切自然而然发生，自然而然谢幕
									p 你会感觉自己像个吟游诗人，游历四方，静听人们的故事
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/10810745/", target="_blank")
									img(alt="超验骇客", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/75.jpg")
							.text
								a(href="http://movie.douban.com/subject/10810745/", target="_blank") 超验骇客
								.content
									p 电影原名Transcendence的意思，是超越神的存在，细细品味过，会理解它的震撼之处
									p 试图掌控万物的人类，对于未知的畏惧、抵制与生俱来
									p 化身为神，只为寻回昔日美好，实现天堂般的理想
									p 曲终人散，换来了无尽的猜疑，失去了唯一的寄托
									p 你们不会理解，这是神的孤独
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3793783/", target="_blank")
									img(alt="地心引力", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/74.jpg")
							.text
								a(href="http://movie.douban.com/subject/3793783/", target="_blank") 地心引力
								.content
									p 虽然被归为科幻，却没有任何超越现实的成分
									p 所有的平淡，都只是在为我们还原一个最冷酷也最真实的宇宙
									p 苍凉之美的宇宙
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/6534248/", target="_blank")
									img(alt="无敌破坏王", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/73.jpg")
							.text
								a(href="http://movie.douban.com/subject/6534248/", target="_blank") 无敌破坏王
								.content
									p 想象力，随处可见的想象力
									p 让人置身于一个精美绝伦的游戏世界
									p 设定海阔天空，情节却严丝合缝
									p 叙事很流畅，惊喜不断
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3399559/", target="_blank")
									img(alt="南极料理人", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/72.jpg")
							.text
								a(href="http://movie.douban.com/subject/3399559/", target="_blank") 南极料理人
								.content
									p 罕见的题材，是我喜欢的类型，固定的场景中上演简单的故事
									p 8个大叔在南极科考站的日子，没有企鹅，也没有海豹，只有一片茫然的白，日常的饮食是他们唯一的期待
									p 整个故事节奏缓慢，情节平淡，对白生活化，甚至镜头视角都像是观众自己用DV拍摄而成
									p 这一切组合起来，却流露出一种独特的日式温馨，回味无穷
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/10527275/", target="_blank")
									img(alt="来自新世界", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/71.jpg")
							.text
								a(href="http://movie.douban.com/subject/10527275/", target="_blank") 来自新世界
								.content
									p 这部动漫画风不统一，故事叙事也不够严密
									p 奇妙的世界观却深得我心
									p 人类变成了一种拥有意念力的超级存在
									p 安定祥和的生活只是冰山一角
									p 水面下隐藏着令人不寒而栗的真相
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2982823/", target="_blank")
									img(alt="河童之夏", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/70.jpg")
							.text
								a(href="http://movie.douban.com/subject/2982823/", target="_blank") 河童之夏
								.content
									p 非常有爱的治愈系动画电影
									p 风格写实，感情细腻
									p 冷漠无情的世界中，真诚与信任依然能融化冰川
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1295647/", target="_blank")
									img(alt="超时空接触", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/69.jpg")
							.text
								a(href="http://movie.douban.com/subject/1295647/", target="_blank") 超时空接触
								.content
									p 科学何尝不是一种宗教
									p 不懈探索本身便是最虔诚的信仰
									p 不同的是
									p 对至高真理的敬畏，并非源于神秘
									p 而是来自了解
									p 哪怕是顿悟自身的渺小
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3319755/", target="_blank")
									img(alt="怦然心动", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/68.jpg")
							.text
								a(href="http://movie.douban.com/subject/3319755/", target="_blank") 怦然心动
								.content
									p 近在咫尺而天各一方
									p 喜悦、羞怯、辗转、迷惑
									p 梧桐树下
									p 终于盛开纯美的爱情之花
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/10574622/", target="_blank")
									img(alt="人再囧途之泰囧", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/67.jpg")
							.text
								a(href="http://movie.douban.com/subject/10574622/", target="_blank") 人再囧途之泰囧
								.content
									p 轻松纯粹的喜剧
									p 不属于情节跳跃的快节奏电影
									p 故事连贯流畅，笑点自然亲切
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/6015756/", target="_blank")
									img(alt="野蛮人罗纳尔", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/66.jpg")
							.text
								a(href="http://movie.douban.com/subject/6015756/", target="_blank") 野蛮人罗纳尔
								.content
									p 笑料丰富喜感十足的一部动画电影
									p 但它不是普通的喜剧片
									p 片中无处不在的各种基腐宅元素与重口笑点
									p 让它与众不同
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1929463/", target="_blank")
									img(alt="少年派的奇幻漂流", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/65.jpg")
							.text
								a(href="http://movie.douban.com/subject/1929463/", target="_blank") 少年派的奇幻漂流
								.content
									p 最爱独角戏电影
									p 少年派与一头猛兽独自漂流海上
									p 经历的种种苦难与神奇都被编织成最精彩的故事
									p 然而美丽的薄纱下露出血腥一角
									p 影片忽然峰回路转，暴露在人们眼中的，是最真实的残酷
									p 神性与本性激烈交锋，缠绕纠葛，造就了这个美丽而可怕的故事
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1793491/", target="_blank")
									img(alt="料理鼠王", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/64.jpg")
							.text
								a(href="http://movie.douban.com/subject/1793491/", target="_blank") 料理鼠王
								.content
									p 剧情并没有可圈可点之处
									p 然而五颜六色的美食当前
									p 没有什么能阻止它成为一部温馨有爱的电影
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3793023/", target="_blank")
									img(alt="三个傻瓜", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/63.jpg")
							.text
								a(href="http://movie.douban.com/subject/3793023/", target="_blank") 三个傻瓜
								.content
									p 追寻真理的传奇故事
									p 激发人对世间万物背后所蕴含哲理的探求
									p 当然，也包括人心
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2131459/", target="_blank")
									img(alt="机器人瓦力", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/62.jpg")
							.text
								a(href="http://movie.douban.com/subject/2131459/", target="_blank") 机器人瓦力
								.content
									p 最普遍流传的名称是《机器人总动员》，但千万别被这个名字给骗了，这不是什么叽叽喳喳闹翻天的迪士尼大联欢
									p 人类离开了被自己毁掉的家园，在太空漂流
									p 讽刺的是，最后残存的一点人性，却是来自地球的这位拾荒的孤独小家伙
									p 片尾演员表部分的小短片非常精彩，请勿错过
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1919245/", target="_blank")
									img(alt="鬼妈妈", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/61.jpg")
							.text
								a(href="http://movie.douban.com/subject/1919245/", target="_blank") 鬼妈妈
								.content
									p 一部哥特味浓厚的人偶动画
									p 恰到好处的黑暗气息
									p 故事简单却回味无穷
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/7054120/", target="_blank")
									img(alt="黑镜子", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/60.jpg")
							.text
								a(href="http://movie.douban.com/subject/7054120/", target="_blank") 黑镜子
								.content
									p 对于科技改变生活之最极端假想
									p 当技术带来的便捷开始与我们为敌
									p 生活也就只剩下深深的不安
									p 第一集. 互联网的恐怖之处在于，它没有态度，却左右着态度
									p 第二集. 世界充斥着种种不真实，这些虚幻的泡沫像是流沙，尽管去挣扎，终将被吞没
									p 第三集. 如果记忆不再是个人的专属物品，那么它将成为一把嗜血的利刃
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2130545/", target="_blank")
									img(alt="当尼采哭泣", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/59.jpg")
							.text
								a(href="http://movie.douban.com/subject/2130545/", target="_blank") 当尼采哭泣
								.content
									p 心理学电影，借用了几位心理学和哲学巨匠的名字，故事却没那么晦涩
									p 思想的强者，裹着孤独的硬壳
									p 剖开腐朽的坚强，直面心魔，才是真的勇士
									p 电影中人物的梦境几乎都用镜头表达出来
									p 梦境表现荒诞夸张，反而更加真实
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/5912992/", target="_blank")
									img(alt="熔炉", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/58.jpg")
							.text
								a(href="http://movie.douban.com/subject/5912992/", target="_blank") 熔炉
								.content
									p 以真实事件为题材的电影
									p 世界充斥着令人绝望的阴暗与不公
									p 即便如此，带着原则坚强地活着
									p 不是为了改变世界
									p 只是为了不让世界改变自己
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/5993185/", target="_blank")
									img(alt="星空", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/56.jpg")
							.text
								a(href="http://movie.douban.com/subject/5993185/", target="_blank") 星空
								.content
									p 几米漫画改编的唯美电影
									p 在最清澈的眼睛里，闪耀着最纯洁无瑕的星空
									p 回忆里永远空缺的拼图碎块，遗憾之美
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1652587/", target="_blank")
									img(alt="阿凡达", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/55.jpg")
							.text
								a(href="http://movie.douban.com/subject/1652587/", target="_blank") 阿凡达
								.content
									p 作为一部以特效场面著称的魔幻商业片，自然无可挑剔
									p 不过在华丽的背后，纳美人的神灵，伊瓦，也是一种耐人寻味的超自然存在
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/4861417/", target="_blank")
									img(alt="他们在毕业的前一天爆炸", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/54.jpg")
							.text
								a(href="http://movie.douban.com/subject/4861417/", target="_blank") 他们在毕业的前一天爆炸
								.content
									p 青春总有死去的一天
									p 也许在毕业那天戛然而止
									p 也许在漫长的人生道路上苟延残喘
									p 或者，从睁眼看到世界起，就开始被现实阴云一点点蚕食殆尽
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3075287/", target="_blank")
									img(alt="源代码", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/53.jpg")
							.text
								a(href="http://movie.douban.com/subject/3075287/", target="_blank") 源代码
								.content
									p 影片结尾的5分钟
									p 真正的世界观才浮出水面
									p 平行世界并非改变历史
									p 而是可以无限演绎下去的广阔时空
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/5360033/", target="_blank")
									img(alt="想爱就爱", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/52.jpg")
							.text
								a(href="http://movie.douban.com/subject/5360033/", target="_blank") 想爱就爱
								.content
									p 泰国校园拉拉电影
									p 节奏轻快，氛围清新，情感细腻
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/4728584/", target="_blank")
									img(alt="不再让你孤单", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/51.jpg")
							.text
								a(href="http://movie.douban.com/subject/4728584/", target="_blank") 不再让你孤单
								.content
									p 大多国产爱情片的故事总是很玄乎，这部却是个例外
									p 故事的发展并不会超出你的预期
									p 但低调实在的小温情， 却总能让人为之动容
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3205624/", target="_blank")
									img(alt="社交网络", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/50.jpg")
							.text
								a(href="http://movie.douban.com/subject/3205624/", target="_blank") 社交网络
								.content
									p 扎克伯格与他们之间发生了什么，那都不重要
									p 因为在这样矛盾尖锐的叙事中
									p 中肯是那么难得
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2275370/", target="_blank")
									img(alt="战略特勤组", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/49.jpg")
							.text
								a(href="http://movie.douban.com/subject/2275370/", target="_blank") 战略特勤组
								.content
									p 这不是动作片
									p 极端情况下，人的底线如何坚守
									p 被疯狂所扭曲的信条，受害者又是谁
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2033822/", target="_blank")
									img(alt="美食 祈祷和恋爱", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/48.jpg")
							.text
								a(href="http://movie.douban.com/subject/2033822/", target="_blank") 美食 祈祷和恋爱
								.content
									p 看来章鱼同学是了解我的，因为它几乎包含了我所有的人生观
									p 安宁美好的事物人人渴望拥有，同时也会悄悄蒙住人的双眼
									p 使人哪怕做出一点点的改变，都需要莫大的勇气与决心
									p 电影里提到过一个意大利笑话
									p 有个穷人每天去教堂祈祷："神啊，恳求你，恳求你让我中彩票吧。"
									p 有一天，神像不耐烦了，低头说道："我的子民啊，恳求你，恳求你先买张彩票吧。"
									p 顿悟之后，改变原来如此简单
									p 然而简单的改变往往需要付出巨大的代价，那是所熟知的安宁美好的毁灭，毁灭正是通往改变的道路
									p 毁灭、改变、思索、抉择……在这个无尽的循环中，一步一步接近生命的真谛
									p 感谢章鱼同学，这是非常值得一看的电影
									p 不同处境不同心境的你，都能在其中看到苦苦寻找已久的那个自己
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3103413/", target="_blank")
									img(alt="设计面面观", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/47.jpg")
							.text
								a(href="http://movie.douban.com/subject/3103413/", target="_blank") 设计面面观
								.content
									p 讲述工业设计的纪录片
									p 它是你最不曾留意的行业
									p 因为你活在其中
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2973851/", target="_blank")
									img(alt="人类消失后的世界", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/46.jpg")
							.text
								a(href="http://movie.douban.com/subject/2973851/", target="_blank") 人类消失后的世界
								.content
									p 纪录片
									p 关于零人口地球的畅想
									p 时间留不下什么
									p 即便是我们引以为豪的文明里的一颗沙砾
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2010975/", target="_blank")
									img(alt="澳洲乱世情", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/45.jpg")
							.text
								a(href="http://movie.douban.com/subject/2010975/", target="_blank") 澳洲乱世情
								.content
									p 和大地雄心有几分相似
									p 推荐本片
									p 因为太喜欢镜头中那辽阔的荒野
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3072124/", target="_blank")
									img(alt="玛丽和马克思", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/44.jpg")
							.text
								a(href="http://movie.douban.com/subject/3072124/", target="_blank") 玛丽和马克思
								.content
									p 真诚与原谅
									p 一生的朋友
									p PS：貌似1小时05分（Mary站在她妈妈坟前）的音乐和两杆大烟枪里1小时20分的是同一曲
									p 这音乐莫非是百搭的？
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1291583/", target="_blank")
									img(alt="天空之城", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/43.jpg")
							.text
								a(href="http://movie.douban.com/subject/1291583/", target="_blank") 天空之城
								.content
									p 不需要多介绍
									p 天空之城的一切，都是美
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292528/", target="_blank")
									img(alt="猜火车", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/42.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292528/", target="_blank") 猜火车
								.content
									p 活着就是在面临各种选择
									p "I choose not to choose life."
									p 也只是选择叛逆
									p 有选择，就会有放弃
									p 选择A，放弃B
									p 这便是活着的根本逻辑
									p 亮点一：镜头表现夸张而形象
									p 亮点二：片中无处不在的背景歌、小调调
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1291832/", target="_blank")
									img(alt="低俗小说", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/41.jpg")
							.text
								a(href="http://movie.douban.com/subject/1291832/", target="_blank") 低俗小说
								.content
									p 抢劫、毒品、枪杀、黑社会……
									p 似乎离我们的世界有些遥远
									p 却有这么一部电影
									p 能让这一切发生的那么自然、贴切、诙谐、有生活味
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292659/", target="_blank")
									img(alt="变脸", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/40.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292659/", target="_blank") 变脸
								.content
									p 互换角色的演技考验
									p 表演之中的表演
									p 正反二角的完美演绎都不会让你失望
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2154025/", target="_blank")
									img(alt="东京朋友", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/39.jpg")
							.text
								a(href="http://movie.douban.com/subject/2154025/", target="_blank") 东京朋友
								.content
									p 最初描绘的那个梦想 你现在还记得吗
									p 因为梦想 他们相遇
									p 因为梦想 他们相知
									p 因为梦想 他们相爱
									p 为了梦想放弃一切
									p 又为了一切放弃梦想
									p 最初描绘的那个梦想 你现在还记得吗？
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1482072/", target="_blank")
									img(alt="穿PRADA的恶魔", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/38.jpg")
							.text
								a(href="http://movie.douban.com/subject/1482072/", target="_blank") 穿PRADA的恶魔
								.content
									p 也许这有些夸张
									p 当你成为另一个Emily
									p 你只能眼睁睁看着自己逐渐化作美丽的……泡沫
									p 但如果鼓起勇气亲手戳破它
									p 立刻就能变回真正的自己
									p That’s all
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2300586/", target="_blank")
									img(alt="这个男人来自地球", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/37.jpg")
							.text
								a(href="http://movie.douban.com/subject/2300586/", target="_blank") 这个男人来自地球
								.content
									p 小屋里的一个下午
									p 贯穿始末的场景和人物
									p 讲述、讨论、质疑、辩驳
									p 让我们看见了一个平凡的耶稣
									p 历史、神话、宗教、人性
									p 为我们揭示了一条亘古的真理
									p 并非神造了人，而是人造了神
									p 被铭刻下的，是那些神迹
									p 而被忽略的，是凡人心中的善
									p 片尾曲Chantelle Duncan – Forever
									p 是对这部电影最贴切的总结
									p forever is the way I feel for you
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2999500/", target="_blank")
									img(alt="七天", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/36.jpg")
							.text
								a(href="http://movie.douban.com/subject/2999500/", target="_blank") 七天
								.content
									p 确实是部很好的快节奏电影
									p 不同的是，它真正做到了"悬疑"
									p 案情不再是关键
									p 抛去了正邪对立
									p 摒弃了非黑即白
									p 人人有自己的立场
									p 人人有自己的目的
									p 人人有自己的真相
									p 这感觉有点像罗生门
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1959877/", target="_blank")
									img(alt="悬崖上的金鱼姬", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/35.jpg")
							.text
								a(href="http://movie.douban.com/subject/1959877/", target="_blank") 悬崖上的金鱼姬
								.content
									p 细腻却海阔天空的畅想
									p 奇妙而温馨的童话故事
									p 在这一小时40分钟
									p 给自己一颗清澈透明的心
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1796053/", target="_blank")
									img(alt="蜂蜜与四叶草", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/34.jpg")
							.text
								a(href="http://movie.douban.com/subject/1796053/", target="_blank") 蜂蜜与四叶草
								.content
									p 学生时代的狂妄、张扬、迷惘、彷徨
									p 一切在这都是那么的真实自然
									p 因为，这就是年轻的五味瓶
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1787277/", target="_blank")
									img(alt="彩虹女神", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/33.jpg")
							.text
								a(href="http://movie.douban.com/subject/1787277/", target="_blank") 彩虹女神
								.content
									p 智也与小葵的人生交错纠葛
									p 却保持着微妙的距离
									p 盘根错节的寻觅
									p 直至The end of the world
									p 才发现如此真实的爱自己竟一点没有察觉
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292269/", target="_blank")
									img(alt="骗中骗", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/32.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292269/", target="_blank") 骗中骗
								.content
									p 得过奥斯卡金像奖的老电影
									p 在一个充斥着骗局的社会
									p 以牙还牙也是一门艺术
									p 早期影视作品中演员演技无可挑剔
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1293359/", target="_blank")
									img(alt="菊次郎的夏天", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/31.jpg")
							.text
								a(href="http://movie.douban.com/subject/1293359/", target="_blank") 菊次郎的夏天
								.content
									p 跟着片中的"两个"小孩去进行一次奇妙的旅行
									p 问问自己 菊次郎是谁
									p 音乐很美~~~
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1300618/", target="_blank")
									img(alt="空中监狱", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/30.jpg")
							.text
								a(href="http://movie.douban.com/subject/1300618/", target="_blank") 空中监狱
								.content
									p 精彩的动作片
									p 却不仅仅是动作片
									p 人物如此众多却人人个性鲜明
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1293350/", target="_blank")
									img(alt="两杆大烟枪", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/29.jpg")
							.text
								a(href="http://movie.douban.com/subject/1293350/", target="_blank") 两杆大烟枪
								.content
									p 第一次看这部片子需要耐心
									p 只有看到最后才能明白整个事情是怎么回事
									p 一个经典的英国式黑色幽默
									p 相当的冷~~~~
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292402/", target="_blank")
									img(alt="西西里的美丽传说", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/28.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292402/", target="_blank") 西西里的美丽传说
								.content
									p 这个故事一点也不美丽
									p 很可怕
									p 人言可畏
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1301420/", target="_blank")
									img(alt="无名英雄", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/27.jpg")
							.text
								a(href="http://movie.douban.com/subject/1301420/", target="_blank") 无名英雄
								.content
									p 演技大师达斯汀·霍夫曼的作品
									p 现代社会的通病
									p 只有闪光灯下的才是英雄吗？
									p 找过无数遍了，没有一个资源能下的
									p 如果找到请记得告诉我，想重温一遍
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1293934/", target="_blank")
									img(alt="爱国者", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/26.jpg")
							.text
								a(href="http://movie.douban.com/subject/1293934/", target="_blank") 爱国者
								.content
									p 梅尔·吉普森的形象最适合演来自平凡人中的英雄
									p 厌恶战争的议员、标准的好父亲、沉着果断的将军
									p 每一面都耐人寻味
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1291565/", target="_blank")
									img(alt="疯狂约会美丽都", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/25.jpg")
							.text
								a(href="http://movie.douban.com/subject/1291565/", target="_blank") 疯狂约会美丽都
								.content
									p 画风夸张、想象力夸张的法国动画喜剧
									p 说是喜剧却无一例外都是冷幽默
									p 正是Ginger本人的风格
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1294950/", target="_blank")
									img(alt="四个婚礼一个葬礼", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/24.jpg")
							.text
								a(href="http://movie.douban.com/subject/1294950/", target="_blank") 四个婚礼一个葬礼
								.content
									p 英国黑色幽默
									p 每天的工作是见证他人的爱情
									p 自己却迷失其中
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292064/", target="_blank")
									img(alt="楚门的世界", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/23.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292064/", target="_blank") 楚门的世界
								.content
									p 很少人知道世界是多么的不真实~~~
									p 然而最可贵的
									p 是哪怕整个世界都是虚假的，仍坚信有一个真实的自己
									p 没有欺诈、阴谋、邪恶的完美世界
									p 你是否愿意被困在这个世界中？
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2129039/", target="_blank")
									img(alt="飞屋环游记", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/22.jpg")
							.text
								a(href="http://movie.douban.com/subject/2129039/", target="_blank") 飞屋环游记
								.content
									p 虽然是迪士尼的动画
									p 却有一点点宫崎骏的味道
									p 没有各种疯狂抢戏的龙套角色
									p 故事安静的开始，安静的结束
									p 简单、纯粹
									p 很不同的迪士尼动画
									p PS：那老头的确很像Ginger… ~.~
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1309052/", target="_blank")
									img(alt="纳尼亚传奇", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/21.jpg")
							.text
								a(href="http://movie.douban.com/subject/1309052/", target="_blank") 纳尼亚传奇
								.content
									p 与魔戒齐名的三大魔幻电影之一
									p 请注意每个角色说的每一句话、每一个表情、每一个动作
									p 它的名气不仅仅来自于炫丽的场景特效
									p 只推荐第一部，从第二部开始就不知所云了
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1298093/", target="_blank")
									img(alt="警察学校", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/20.jpg")
							.text
								a(href="http://movie.douban.com/subject/1298093/", target="_blank") 警察学校
								.content
									p 只推荐前3部
									p 连贯性很强的美国式幽默
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1308097/", target="_blank")
									img(alt="春天的杜鹃", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/19.jpg")
							.text
								a(href="http://movie.douban.com/subject/1308097/", target="_blank") 春天的杜鹃
								.content
									p 语言不通的三个人在战争中一段短暂的缘分
									p 没有任何战争场面
									p 只有深谷里一份特有的宁静
									p 战争不是仇恨，没有无法化解的仇恨，哪怕是语言不通
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292052/", target="_blank")
									img(alt="肖申克的救赎", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/18.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292052/", target="_blank") 肖申克的救赎
								.content
									p 绝望的一生，却因为抓住一丝渺茫的希望而改变
									p 当然，坚韧与谋略也是必不可少的
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292701/", target="_blank")
									img(alt="大地雄心", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/17.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292701/", target="_blank") 大地雄心
								.content
									p 拓荒者
									p 汗水挥洒的年代，梦想驰骋的年代
									p 再没什么比它更好的诠释了自由与梦想
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1291879/", target="_blank")
									img(alt="罗生门", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/16.jpg")
							.text
								a(href="http://movie.douban.com/subject/1291879/", target="_blank") 罗生门
								.content
									p 1950年的老电影
									p 黑泽明的叙事风格尖锐犀利
									p 世上并无所谓真相，千万种立场有千万个真相
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1293013/", target="_blank")
									img(alt="独立日", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/15.jpg")
							.text
								a(href="http://movie.douban.com/subject/1293013/", target="_blank") 独立日
								.content
									p 外星入侵主题的电影
									p 经典科幻片
									p 男孩们儿时海阔天空的幻想
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/2043546/", target="_blank")
									img(alt="秒速5厘米", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/14.jpg")
							.text
								a(href="http://movie.douban.com/subject/2043546/", target="_blank") 秒速5厘米
								.content
									p 即使再珍惜，人总是在和身边的一切擦身而过
									p 在车站
									p 在田间的小道上
									p 在飞驰而过的列车两侧
									p 甚至在梦里
									p 世界不大，然而即便世界只剩下我们两个人，擦身而过的命运已注定
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1291545/", target="_blank")
									img(alt="大鱼", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/13.jpg")
							.text
								a(href="http://movie.douban.com/subject/1291545/", target="_blank") 大鱼
								.content
									p 父亲的一生都在讲述离奇的故事
									p 人们欣赏它、喜爱它
									p 却仅仅把它当做故事
									p 儿子的一生都在寻觅真实的父亲
									p 想要找到他、了解他
									p 却发现故事就是真相
									p 父亲、自己、朋友们
									p 都是这精彩故事的一段
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1900180/", target="_blank")
									img(alt="泪光闪闪", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/12.jpg")
							.text
								a(href="http://movie.douban.com/subject/1900180/", target="_blank") 泪光闪闪
								.content
									p 小白这家伙推荐的东西不是禁片就是催泪弹
									p 还好这个是后者
									p 妻夫木聪的表演很自然~~~~
									p 学学电影里面捏鼻子
									p 看的时候可能用的上
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1300685/", target="_blank")
									img(alt="克莱默夫妇", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/11.jpg")
							.text
								a(href="http://movie.douban.com/subject/1300685/", target="_blank") 克莱默夫妇
								.content
									p 对婚姻、家庭的深思
									p 达斯汀·霍夫曼完美的演技总能给人带来惊喜
									p 我承认他是我最喜欢的演员
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1291560/", target="_blank")
									img(alt="龙猫", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/10.jpg")
							.text
								a(href="http://movie.douban.com/subject/1291560/", target="_blank") 龙猫
								.content
									p 虽然很多人推崇千与千寻
									p 个人觉得这才是是宫崎骏最经典的作品
									p 细节见真情
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292343/", target="_blank")
									img(alt="蝴蝶效应", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/9.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292343/", target="_blank") 蝴蝶效应
								.content
									p 一种拥有回到过去能力的遗传病
									p 一次次试图改变自己的人生
									p 却都得不到完美的结果
									p 原来自己的存在就是错误的
									p 第二部及后续都不推荐，情节漏洞百出
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1293778/", target="_blank")
									img(alt="科学怪人", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/8.jpg")
							.text
								a(href="http://movie.douban.com/subject/1293778/", target="_blank") 科学怪人
								.content
									p 据说这是电影史上第一部科幻片
									p 人造的生命开始渐渐理解人类的情感
									p 当他真正理解时，却是他生命的终结~~~
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1295872/", target="_blank")
									img(alt="西北偏北", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/7.jpg")
							.text
								a(href="http://movie.douban.com/subject/1295872/", target="_blank") 西北偏北
								.content
									p 悬念大师希区柯克的作品
									p 看悬念电影的过程是一种享受
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1302457/", target="_blank")
									img(alt="阿育王", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/6.jpg")
							.text
								a(href="http://movie.douban.com/subject/1302457/", target="_blank") 阿育王
								.content
									p 印度电影中的歌舞场面足以表现这个民族电影事业的特点
									p 但是这部片子却很有好莱坞的味道
									p 成为帝王注定是孤独和残暴的
									p 却也是无奈与无助的
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1298744/", target="_blank")
									img(alt="12猴子", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/4.jpg")
							.text
								a(href="http://movie.douban.com/subject/1298744/", target="_blank") 12猴子
								.content
									p 思路很新颖的科幻片
									p 不要忽视戏份不多的小人物
									p 真正的重量级角色藏在其中
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/3027162/", target="_blank")
									img(alt="深入敌后搞搞震", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/3.jpg")
							.text
								a(href="http://movie.douban.com/subject/3027162/", target="_blank") 深入敌后搞搞震
								.content
									p 法国经典二战喜剧三部曲
									p 虎口脱险的原班人马
									p 用另类的视角解读残酷的战场
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1292001/", target="_blank")
									img(alt="海上钢琴师", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/2.jpg")
							.text
								a(href="http://movie.douban.com/subject/1292001/", target="_blank") 海上钢琴师
								.content
									p "对我来说，陆地是艘太大的船
									p 是位太美的美女
									p 是条太长的航程
									p 是瓶太浓的香水
									p 是篇无从弹奏的乐章"
									p 当1900正在人群的簇拥中弹钢琴时
									p 一声"America!"的惊呼把听众从身边引走
									p 他面对无数背影，面无表情
									p 却也是这部电影里最能代替言语的表情
					li
						.item.clearfix
							h3
								a(href="http://movie.douban.com/subject/1419936/", target="_blank")
									img(alt="战争之王", src="http://7xib7m.com1.z0.glb.clouddn.com/img/movies/1.jpg")
							.text
								a(href="http://movie.douban.com/subject/1419936/", target="_blank") 战争之王
								.content
									p 选尼古拉斯凯奇演这部电影是有道理的
									p 因为他的脸上天生有种落寞的沧桑
									p 就像电影里的那位军火商
									p 一步步的得到了世界
									p 一样样的失去了一切
									p 世界太现实，世界太残酷
									p 而最残酷的是
									p 我们明知它残酷，却不得不让它继续下去……
									p 电影每个镜头都有极强的表现力！

				include include/paginator.jade
