//- 小玩意页面，图文列表

extends base

block title
	title= "小玩意 - " + site.title

block content
	.special
		#tools
			.page_wrap
				h1.title 小玩意
				p.intro 可乐橙工作与生活中遇会遇到一些问题，有时自己动手做个工具就能满足需求，或许这些小玩意你也用得上。
				ul
					li
						a(href="https://github.com/greenzorro/MarkEditor-Theme", target="_blank")
							img(src="/template/images/tools/markeditor-theme.png")
						h2 MarkEditor主题
						p MarkEditor是一款非常强大的markdown编辑器，很惊叹于它高度定制化的自由。专门为它创造了一款主题皮肤，包含白天与黑夜两套配色。
					li
						a(href="https://github.com/greenzorro/ColaUX-OmnigraffleStencil", target="_blank")
							img(src="/template/images/tools/stencil.png")
						h2 ColaUX流程图模板
						p 画交互流程图，用Omnigraffle是非常方便的。制作了一套Stencil自用，可以方便绘制业务流程图和页面流程图，而且还包含泳道图组件。
					li
						a(href="https://github.com/greenzorro/bitcron-colachan", target="_blank")
							img(src="/template/images/tools/farbox-template.png")
						h2 可乐橙博客模版
						p 可乐橙的博客模版是基于Bitcron打造的，很喜欢这个博客系统，简洁轻盈。代码已经在Github上开源，其中也包含设计文件。
					li
						a(href="http://greenzorro.github.io/something-to-markdown/", target="_blank")
							img(src="/template/images/tools/markdown2.png")
						h2 HTML转markdown
						p 翻译时要把英文原文转成我习惯的markdown格式，但有些网站的内容混有太多markdown不支持的标签。对内容格式有洁癖的我，一定要想个办法“对付”它们。
					li
						a(href="http://greenzorro.github.io/markdown-to-something", target="_blank")
							img(src="/template/images/tools/markdown.png")
						h2 markdown转HTML
						p markdown这么好用，写过一次就停不下来。所以希望能轻松把markdown转成各种不同形式，用在不同地方，甚至包括一些老古董编辑器。
					li
						a(href="http://greenzorro.github.io/hex-dec-color-transform", target="_blank")
							img(src="/template/images/tools/hex-dec.png")
						h2 十/十六进制颜色值转换工具
						p App开发同学一定很痛恨设计师：你们给的颜色都是#ffffff这种格式，我要的是R:255, G:255, B:255，十六进制转十进制，这是要算死我么？
					li
						a(href="http://greenzorro.github.io/chaos", target="_blank")
							img(src="/template/images/tools/chaos.png")
						h2 混沌系统实验
						p 混沌是一种神秘却常见的现象，大量的无序中竟然能涌现出秩序。可乐橙对此深深着迷，自己动手做了一个小实验。
					li
						a(href="http://greenzorro.github.io/demo/", target="_blank")
							img(src="/template/images/tools/demo.png")
						h2 前端练习本
						p 可乐橙也在自学前端技术，把一些用到过的效果与技巧集中起来，分类整理，供自己学习练习用。代码混乱，略邋遢，请慎入~
					li //-防止最后一项独占一行，太宽影响显示效果

				include include/paginator.jade
