//- 设计作品页面，可以作为各类图片幻灯片使用

extends base

block title
	title= "设计作品 - " + site.title

block content
	.special
		#works.clearfix
			.page_wrap
				.play
					a.start.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/cover.jpg", rel="works")
					p.slogen I design.
					.area UI / WEB / GRAPHIC

				.pic
					#b10.title_content
						h2 爸爸去西澳
						p
							|web design
					a.title.fancybox(href="#b10", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b10-爸爸去西澳/a1.png", title="爸爸去西澳", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b10-爸爸去西澳/a2.jpg", title="爸爸去西澳", rel="works")

					#a4.title_content
						h2 云集
						p
							|UI design
					a.title.fancybox(href="#a4", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a4-云集/b1.png", title="云集", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a4-云集/a1.jpg", title="云集", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a4-云集/a2.jpg", title="云集", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a4-云集/a3.jpg", title="云集", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a4-云集/a4.jpg", title="云集", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a4-云集/a5.jpg", title="云集", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a4-云集/a6.jpg", title="云集", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a4-云集/c1.gif", title="云集", rel="works")

					#b8.title_content
						h2 云集官网
						p
							|web design
					a.title.fancybox(href="#b8", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b8-云集官网/a1.jpg", title="云集官网", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b8-云集官网/a2.jpg", title="云集官网", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b8-云集官网/a3.jpg", title="云集官网", rel="works")

					#b9.title_content
						h2 云集开发者中心
						p
							|web design
					a.title.fancybox(href="#b9", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b9-云集开发者中心/a1.jpg", title="云集开发者中心", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b9-云集开发者中心/a2.jpg", title="云集开发者中心", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b9-云集开发者中心/a3.jpg", title="云集开发者中心", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b9-云集开发者中心/a4.jpg", title="云集开发者中心", rel="works")

					#a1.title_content
						h2 易停车
						p
							|UI design
					a.title.fancybox(href="#a1", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/a1.png", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/a2.png", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/a3.png", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/a4.png", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b1.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b2.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b3.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b4.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b5.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b6.jpg", title="易停车", rel="works")

					#b7.title_content
						h2 斧头科技官网
						p
							|web design
					a.title.fancybox(href="#b7", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b7-斧头科技官网/a1.jpg", title="斧头科技官网", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b7-斧头科技官网/a2.jpg", title="斧头科技官网", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b7-斧头科技官网/a3.jpg", title="斧头科技官网", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b7-斧头科技官网/a4.jpg", title="斧头科技官网", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b7-斧头科技官网/b1.gif", title="斧头科技官网", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b7-斧头科技官网/b2.gif", title="斧头科技官网", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b7-斧头科技官网/b3.gif", title="斧头科技官网", rel="works")

					#b2.title_content
						h2 天天正能量
						p
							|web design
					a.title.fancybox(href="#b2", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b2-天天正能量/c1.jpg", title="天天正能量", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b2-天天正能量/a1.jpg", title="天天正能量", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b2-天天正能量/a2.jpg", title="天天正能量 见证者", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b2-天天正能量/b1.jpg", title="爱不闲置捐赠电脑活动", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b2-天天正能量/b2.jpg", title="见证者招募", rel="works")

					#b4.title_content
						h2 王珞丹后援会
						p
							|web design
					a.title.fancybox(href="#b4", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b4-王珞丹后援会/a1.jpg", title="王珞丹后援会", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b4-王珞丹后援会/a2.jpg", title="王珞丹后援会", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b4-王珞丹后援会/a3.jpg", title="王珞丹后援会", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b4-王珞丹后援会/a4.jpg", title="王珞丹后援会", rel="works")

					#b1.title_content
						h2 善功夫
						p
							|web design
					a.title.fancybox(href="#b1", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b1-善功夫/a1.jpg", title="善功夫 爱·故事", rel="works")

					#b3.title_content
						h2 虾米电台
						p
							|web design
					a.title.fancybox(href="#b3", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b3-虾米电台/a1.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b3-虾米电台/a2.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b3-虾米电台/a3.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b3-虾米电台/a4.jpg", title="虾米电台概念设计", rel="works")

					#a2.title_content
						h2 唐人街
						p
							|UI design
					a.title.fancybox(href="#a2", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/a1.jpg", title="唐人街概念版", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/a2.jpg", title="唐人街概念版", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/b1.jpg", title="唐人街安装", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/b2.jpg", title="唐人街登录", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/c1.jpg", title="唐人街用户引导", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/c2.jpg", title="唐人街用户引导", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/c3.jpg", title="唐人街用户引导", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/d1.jpg", title="唐人街菜单", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a2-唐人街/d2.jpg", title="唐人街大厅", rel="works")

					#b5.title_content
						h2 293活动
						p
							|web design
					a.title.fancybox(href="#b5", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b5-293活动/a1.jpg", title="293圣诞活动", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b5-293活动/a2.jpg", title="293末日活动", rel="works")

					#a3.title_content
						h2 UI其他
						p
							|UI design
					a.title.fancybox(href="#a3", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a3-UI其他/a1.jpg", title="时钟界面", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a3-UI其他/b1.jpg", title="套打软件icon", rel="works")

					#b6.title_content
						h2 web其他
						p
							|web design
					a.title.fancybox(href="#b6", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b6-web其他/b1.jpg", title="时代智控", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b6-web其他/a1.jpg", title="畅风天能官方网站", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b6-web其他/a2.jpg", title="畅风天能官方网站", rel="works")

					#c1.title_content
						h2 LOGO
						p
							|graphic design
					a.title.fancybox(href="#c1", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/e1.jpg", title="forever", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/d1.jpg", title="简洁文化用品", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/a1.jpg", title="丸子烘焙", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/a2.jpg", title="丸子烘焙", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/b1.jpg", title="可乐橙", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/b2.jpg", title="可乐橙", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/c1.jpg", title="颜色彩妆", rel="works")

					#c3.title_content
						h2 南宋御街宣传册
						p
							|graphic design
					a.title.fancybox(href="#c3", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c3-南宋御街宣传册/a1.jpg", title="南宋御街宣传册", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c3-南宋御街宣传册/a2.jpg", title="南宋御街宣传册", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c3-南宋御街宣传册/a3.jpg", title="南宋御街宣传册", rel="works")

					#c4.title_content
						h2 龙摄影三折页
						p
							|graphic design
					a.title.fancybox(href="#c4", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c4-龙摄影三折页/a1.jpg", title="龙摄影三折页", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c4-龙摄影三折页/a2.jpg", title="龙摄影三折页", rel="works")

					#c2.title_content
						h2 平面其他
						p
							|graphic design
					a.title.fancybox(href="#c2", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/d1.jpg", title="生巧", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/d2.jpg", title="生巧", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/d3.jpg", title="生巧", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/c1.jpg", title="聚会海报", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/c2.jpg", title="聚会海报", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/b1.jpg", title="新年贺卡", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/a1.jpg", title="论文封面设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/a2.jpg", title="论文封面设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/a3.jpg", title="论文封面设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c2-平面其他/a4.jpg", title="论文封面设计", rel="works")

				include include/paginator.jade

		.page_wrap
			#fb_comments_container
				.ds-thread(data-thread-key="works", data-title="设计作品", data-url="http://colachan.com/works")
				script
					var duoshuoQuery = {short_name:"greenzorro"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
