//- 设计作品页面，可以作为各类图片幻灯片使用

extends base

block title
	title= "设计作品 - " + site.title

block content
	.special
		#works.clearfix
			.page_wrap
				.play
					a.start.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/cover.jpg", rel="works")
					p.slogen I design.
					.area UI / WEB / GRAPHIC

				.pic
					#a1.title_content
						h2 易停车
						p
							|UI design
					a.title.fancybox(href="#a1", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/a1.png", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/a2.png", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/a3.png", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/a4.png", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b1.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b2.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b3.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b4.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b5.jpg", title="易停车", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/a1-易停车/b6.jpg", title="易停车", rel="works")

					#b3.title_content
						h2 虾米电台
						p
							|web design
					a.title.fancybox(href="#b3", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b3-虾米电台/a1.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b3-虾米电台/a2.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b3-虾米电台/a3.jpg", title="虾米电台概念设计", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/b3-虾米电台/a4.jpg", title="虾米电台概念设计", rel="works")

					#c1.title_content
						h2 LOGO
						p
							|graphic design
					a.title.fancybox(href="#c1", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/e1.jpg", title="forever", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/d1.jpg", title="简洁文化用品", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/a1.jpg", title="丸子烘焙", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/a2.jpg", title="丸子烘焙", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/b1.jpg", title="可乐橙", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/b2.jpg", title="可乐橙", rel="works")
					a.fancybox(href="http://7xib7m.com1.z0.glb.clouddn.com/img/works/c1-LOGO/c1.jpg", title="颜色彩妆", rel="works")

				include include/paginator.jade

		.page_wrap
			#fb_comments_container
				.ds-thread(data-thread-key="works", data-title="设计作品", data-url="http://colachan.com/works")
				script
					var duoshuoQuery = {short_name:"greenzorro"};
					(function() {
						var ds = document.createElement('script');
						ds.type = 'text/javascript';ds.async = true;
						ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
						ds.charset = 'UTF-8';
						(document.getElementsByTagName('head')[0] 
						 || document.getElementsByTagName('body')[0]).appendChild(ds);
					})();
