//- 设计作品页面，可以作为各类图片幻灯片使用

extends base

block title
	title= "设计作品 - " + site.title

block content
	.special
		#works.clearfix
			.page_wrap
				.play
					a.start(href="http://qiniu.colacdn.com/img/works/cover.jpg", data-fancybox="works")
					p.slogen I design.
					.area UI / WEB / GRAPHIC

				.pic
					#a1.title_content
						h2 易停车
						p
							|UI design
					a.title(href="#a1", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/a1.png", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/a2.png", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/a3.png", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/a4.png", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/b1.jpg", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/b2.jpg", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/b3.jpg", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/b4.jpg", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/b5.jpg", data-caption="易停车", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/a1-易停车/b6.jpg", data-caption="易停车", data-fancybox="works")

					#b3.title_content
						h2 虾米电台
						p
							|web design
					a.title(href="#b3", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/b3-虾米电台/a1.jpg", data-caption="虾米电台概念设计", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/b3-虾米电台/a2.jpg", data-caption="虾米电台概念设计", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/b3-虾米电台/a3.jpg", data-caption="虾米电台概念设计", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/b3-虾米电台/a4.jpg", data-caption="虾米电台概念设计", data-fancybox="works")

					#c1.title_content
						h2 LOGO
						p
							|graphic design
					a.title(href="#c1", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/c1-LOGO/e1.jpg", data-caption="forever", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/c1-LOGO/d1.jpg", data-caption="简洁文化用品", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/c1-LOGO/a1.jpg", data-caption="丸子烘焙", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/c1-LOGO/a2.jpg", data-caption="丸子烘焙", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/c1-LOGO/b1.jpg", data-caption="可乐橙", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/c1-LOGO/b2.jpg", data-caption="可乐橙", data-fancybox="works")
					a(href="http://qiniu.colacdn.com/img/works/c1-LOGO/c1.jpg", data-caption="颜色彩妆", data-fancybox="works")

				include include/paginator.jade
