//- footer，在移动端直接不展示了

footer.footer
	h2.logo
	p
		|可乐橙的朋友们：
		a(href="http://www.wuxiaodi.com/", target="_blank") 吴晓棣
		i /
		a(href="http://fofore.com/", target="_blank") fofore
		i /
		a(href="http://www.banpie.info/", target="_blank") 半撇
		i /
		a(href="http://tangyinxiao19.github.io/", target="_blank") 唐寅小
		i /
		a(href="http://www.cai-cai.me/", target="_blank") caicai
		i /
		a(href="http://misszhang.me/", target="_blank") 美丽兔
		i /
		a(href="http://fuzhongkuo.com/", target="_blank") E盘
		i /
		a(href="http://www.jsl.name/", target="_blank") 季节时光
		i /
		a(href="http://yinshihao.com/", target="_blank") Gavin
		i /
		a(href="http://www.ftium4.com/", target="_blank") 龙爪槐守望者
	p
		a(href="https://github.com/greenzorro/bitcron-colachan", target="_blank") theme
		|&nbsp;by Cola Chan - powered by 
		a(href="https://bitcron.com/", target="_blank") Bitcron
	a.gotop.icon-arrow_up(href="#")

