header.header.clearfix
	.menu
		a.icon-icon_menu(href="javascript:;")
	.search
		input(type="text", data-role="none")
		a.icon-icon_search(href="javascript:;")
	h1.title
		a(href='/') Cola Chan
	.menu_wrapper
		nav.categories
			li
				a(href="/category/生活")
					span.icon-cat_life
					|生活
			li
				a(href="/category/翻译")
					span.icon-cat_translate
					|翻译
			li
				a(href="/category/极客")
					span.icon-cat_geek
					|极客
			li
				a(href="/category/幽默")
					span.icon-cat_humor
					|幽默
			li
				a(href="/category/美食")
					span.icon-cat_food
					|美食
			li
				a(href="/category/照片")
					span.icon-cat_photo
					|照片
			li
				a(href="/category/影音")
					span.icon-cat_media
					|影音
			li
				a(href="/category/写作")
					span.icon-cat_book
					|写作
			li
				a(href="/category/梦境")
					span.icon-cat_dream
					|梦境
		nav.nav
			li
				a(href="/categories") 日志分类
			li
				a(href="/movie") 电影收藏
			li
				a(href="/tools") 小玩意
			li
				a(href="https://www.behance.net/greenzorro", target="_blank") 设计作品
				//-模版中也有一套设计作品展示页面，把url改成"/works"即可
			li
				a(href="/about") 关于可乐橙
	.intro
		p.text
			|可乐橙每周翻译国外设计精华
			br
			|点滴积累，分享使人成长
		.qr
			a.icon-icon_qr(href="javascript:;")
			.qr_code_wrap
				.qr_code
					.img
					p
						|关注微信公众号[可乐橙]
						br
						|国外优秀设计装进口袋
	.follow
		.social
			a.weibo(href="http://weibo.com/greenzorro", target="_blank") 微博
			a.douban(href="http://www.douban.com/people/greenzorro/", target="_blank") 豆瓣
			a.pinterest(href="https://www.pinterest.com/greenzorro/", target="_blank") Pinterest
			a.behance(href="https://www.behance.net/greenzorro", target="_blank") behance
			a.github(href="https://github.com/greenzorro", target="_blank") Github
	.down
		a.icon-arrow2_down(href="#content")
