//- 翻页，以及移动端的回顶部

.clear
.pager.clearfix
	if paginator.has_pre
		a.paging.pre(href=paginator.pre_url)
			.arrow.icon-arrow2_left
			span
				上一页
	if paginator.has_next
		a.paging.next(href=paginator.next_url)
			.arrow.icon-arrow2_right
			span
				下一页
	a.gotop.icon-arrow_up(href="#")
