.detail
	article.post
		section.content
			h1.title= post.title
			.post_body= post.content
			.info.clearfix
				.date
					.icon-icon_clock
					time
						{{post.date.format('%Y-%m-%d %H:%M')}}
				.visitors
					.icon-icon_book
					span
						{{ post.visits or 0 }}
				if post.tags
					.tags
						for tag in post.tags
							a(href="/tag/{{tag}}")= tag
			#baidu_share
				p
					|分享本文：
				.bdsharebuttonbox
					a.bds_tsina(data-cmd="tsina", title="分享到新浪微博")
					a.bds_weixin(data-cmd="weixin", title="分享到微信")
					a.bds_douban(data-cmd="douban", title="分享到豆瓣网")
					a.bds_twi(data-cmd="twi", title="分享到Twitter")
					a.bds_fbook(data-cmd="fbook", title="分享到Facebook")
				script.
					window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

		section.pager.clearfix
			if pre_one
				a.paging.pre(href='{{pre_one.url}}')
					.arrow.icon-arrow2_left
					span
						{{ pre_one.title }}
			if next_one
				a.paging.next(href='{{next_one.url}}')
					.arrow.icon-arrow2_right
					span
						{{ next_one.title }}
			a.gotop.icon-arrow_up(href="#")
