//- 文章详情

.detail
	article.post
		section.content
			h1.title= post.title
			.post_body= post.content
			.info.clearfix
				.date
					.icon-icon_clock
					time
						{{post.date.format('%Y-%m-%d %H:%M')}}
				.visitors
					.icon-icon_book
					span
						{{ post.visits or 0 }}
				if post.tags
					.tags
						for tag in post.tags
							a(href="/tag/{{tag}}")= tag

		//- 上一篇、下一篇、以及移动端的“回顶部”
		section.pager.clearfix
			if pre_one
				a.paging.pre(href='{{pre_one.url}}')
					.arrow.icon-arrow2_left
					span
						{{ pre_one.title }}
			if next_one
				a.paging.next(href='{{next_one.url}}')
					.arrow.icon-arrow2_right
					span
						{{ next_one.title }}
			a.gotop.icon-arrow_up(href="#")

		//- 内容目录开关
		a.directory(href='javascript:;') 目录