//*********************************************************************//
//                              settings                               //
//*********************************************************************//


// value settings
$dark1: rgba(0,0,0,0.87);
$dark2: rgba(0,0,0,0.54);
$dark3: rgba(0,0,0,0.26);
$dark4: rgba(0,0,0,0.12);
$light1: rgba(255,255,255,1);
$light2: rgba(255,255,255,0.54);
$light3: rgba(255,255,255,0.26);
$light4: rgba(255,255,255,0.12);
$bg1: #fff;
$bg2: #f5f5f5;
$bg3: #eee;
$bg4: #333;
$primary1: #31b5bd;
$primary2: #83cace;
$primary3: #cdecee;
$accent1: #df8a7f;
$accent2: #f5c5bf;
$accent3: #3c3d60;
$shadow1: 0 1px 4px rgba(0,0,0,0.35);
$shadow2: 0 4px 4px rgba(0,0,0,0.35);
$shadow3: inset 0 0 1px $dark4;
$bg_img: url(/template/images/bg.jpg);
$easing1: cubic-bezier(0.15, 0.95, 0.41, 0.95);


// responsive break points
$phone_portrait-max: 479px;
$phone_landscape-min: 480px;
$phone_landscape-max: 767px;
$pad_portrait-min: 768px;
$pad_portrait-max: 1023px;
$pad_landscape-min: 1024px;
$pad_landscape-max: 1199px;
$pc-min: 1200px;


// functions
@mixin box-sizing ($value) {
	-webkit-box-sizing: $value;
	box-sizing: $value;}
@mixin transform ($value) {
	-webkit-transform: $value;
	transform: $value;}
@mixin transform-origin ($value) {
	-webkit-transform-origin: $value;
	transform-origin: $value;}
@mixin transition ($value) {
	-webkit-transition: $value;
	transition: $value;}
@mixin transition-transform ($value1,$value2) {
	-webkit-transition: -webkit-transform $value1 $value2;
	transition: transform $value1 $value2;}
@mixin prefix-transition ($value) {
	-webkit-transition: -webkit-$value;
	transition: $value;}
@mixin animation ($value) {
	-webkit-animation: $value;
	animation: $value;}
@mixin display-flex () {
	display: -webkit-flex;
	display: flex;}
@mixin flex-flow ($value) {
	-webkit-flex-flow: $value;
	flex-flow: $value;}
@mixin order ($value) {
	-webkit-order: $value;
	order: $value;}
@mixin flex ($value) {
	-webkit-flex: $value;
	flex: $value;}
@mixin justify-content ($value) {
	-webkit-justify-content: $value;
	justify-content: $value;}
@mixin align-items ($value) {
	-webkit-align-items: $value;
	align-items: $value;}
@mixin align-content ($value) {
	-webkit-align-content: $value;
	align-content: $value;}
@mixin aColor ($value) {
	color: $value;
	&:active {
		color: $value;}
	&:visited {
		color: $value;}
	&:hover {
		color: lighten($value,15%);}
}





//*********************************************************************//
//                               global                                //
//*********************************************************************//


* { @include box-sizing (content-box);}
html, body{
	height:100%;}
html {
	line-height: 1;
	font-size: 100px;
}
body {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
	line-height: 1.6;
	font-size: 0.16rem;
	color: $dark1;
	background: $bg2;}
a { @include aColor ($primary1);}
input, textarea, button {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;}
::selection {
	background: $primary1;
	color: $light1;}
::-moz-selection {
	background: $primary1;
	color: $light1;}

// content width on several devices
// phone
@media only screen and (max-width: $phone_landscape-max){
	#main { padding: 0.56rem 0 0;}
}
// pc
@media only screen and (min-width: $pc-min){
	.main_wrap {
		max-width: 1100px;
		margin: auto;
		position: relative;}
	.post_wrap {
		max-width: 720px;
		margin: auto;
		position: relative;}
	.page_wrap {
		max-width: 1200px;
		margin: auto;
		position: relative;}
}






//*********************************************************************//
//                               common                                //
//*********************************************************************//


//*****************************  header  ******************************//

.header {
	.menu {
		.icon-icon_menu {
			display: inline-block;
			width: 0.56rem;
			height: 0.56rem;
			line-height: 0.56rem;
			text-align: center;
			color: $light1;
			cursor: pointer;
			&:before { font-size: 0.32rem;}
		}
	}
	.search {
		.icon-icon_search {
			display: inline-block;
			width: 0.56rem;
			height: 0.56rem;
			line-height: 0.56rem;
			text-align: center;
			color: $light1;
			cursor: pointer;
			&:before { font-size: 0.32rem;}
		}
	}
	.title {
		a {
			font-family: "Forum", sans-serif;
			font-size: 0.24rem;
			@include aColor ($light1);}
	}
	.down {
		.icon-arrow2_down {
			display: inline-block;
			width: 0.56rem;
			height: 0.56rem;
			line-height: 0.56rem;
			text-align: center;
			color: $light1;
			cursor: pointer;
			&:before { font-size: 0.48rem;}
		}
	}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	.header {
		width: 100%;
		height: 0.56rem;
		background: $bg4;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 11;
		.menu {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 4;
			.icon-icon_menu { background: $bg4;}
		}
		.menu_active {
			.icon-icon_menu {
				background: $bg1;
				color: $dark1;
			}
		}
		.search {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
			input {
				display: block;
				width: 0.56rem;
				height: 46px;
				margin: 5px 5px 0;
				background: none;
				font-size: 0.16rem;
				text-indent: 0.08rem;
				color: $light1;
				opacity: 0;
				cursor: pointer;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 5;}
			&:after {
				content: "";
				display: block;
				width: 0;
				height: 56px;
				background: lighten($bg4,5%);
				position: absolute;
				right: 0;
				top: 0;
				z-index: 3;
				@include transition (width 0.5s $easing1);}
		}
		.title {
			width: 100%;
			height: 0.56rem;
			line-height: 0.56rem;
			text-align: center;
			opacity: 1;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			-webkit-transition: -webkit-transform 0.5s $easing1, opacity 0.5s $easing1;
			transition: transform 0.5s $easing1, opacity 0.5s $easing1;}
		.menu_wrapper {
			width: 100%;
			background: $bg1;
			box-shadow: $shadow2;
			text-align: center;
			position: absolute;
			left: 0;
			top: 0.56rem;
			@include transition-transform (0.3s,$easing1);
			@include transform-origin (0% 0%);
			@include transform (scale(0));
			.categories {
				@include display-flex ();
				@include flex-flow (row wrap);
				padding: 0.12rem 0 0.18rem;
				border-bottom: 1px solid $dark4;
				li {
					a {
						display: block;
						height: 100%;
						padding: 0.03rem 0.18rem;
						color: $dark1;
						span {
							display: block;
							padding: 0.08rem 0 0;
							&:before { font-size: 0.48rem;}
						}
					}
				}
			}
			.nav {
				@include display-flex ();
				@include flex-flow (row wrap);
				@include justify-content (center);
				clear: both;
				li {
					@include flex (1 1 auto);
					a {
						display: block;
						color: $dark2;
						font-size: 0.14rem;}
				}
			}
		}
		.menu_wrapper_show { @include transform (scale(1));}
		.intro, .follow, .down { display: none;}
	}
	.search_on {
		.search {
			width: auto;
			left: 0.56rem;
			input {
				width: 98%;
				cursor: text;
				@include animation (fadein 0.3s $easing1 0.3s both);}
			&:after { width: 100vw;}
		}
		.title {
			opacity: 0;
			@include transform (translate(-0.15rem, 0));}
	}
}
// phone_portrait
@media only screen and (max-width: $phone_portrait-max){
	.header .menu_wrapper .categories li {
		@include flex (0 1 33.3%);
	}
	.header .menu_wrapper .nav {
		@include flex-flow (column);
		a {
			height: 0.4rem;
			line-height: 0.4rem;
			border-bottom: 1px solid $dark4;}
	}
}
// phone_landscape
@media only screen and (min-width: $phone_landscape-min) and (max-width: $phone_landscape-max){
	.header .menu_wrapper .categories li {
		@include flex (0 1 20%);
	}
	.header .menu_wrapper .nav {
		a {
			height: 0.64rem;
			line-height: 0.64rem;
			padding: 0 0.2rem;}
	}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	.header {
		background-image: $bg_img;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		.search {
			float: right;
			display: inline-block;
			input {
				display: block;
				width: 0.56rem;
				height: 0.24rem;
				line-height: 0.24rem;
				padding: 0.12rem 0;
				background: none;
				font-size: 0.16rem;
				text-indent: 0.12rem;
				opacity: 0;
				cursor: pointer;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 5;}
			&:after {
				content: "";
				display: block;
				width: 0;
				height: 0.24rem;
				padding: 0.12rem 0;
				background: none;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 4;
				@include transition (width 0.3s $easing1, background 0.3s $easing1);}
		}
		.title {
			padding: 0.72rem 0 0.15rem;
			text-align: center;}
		.menu_wrapper {
			padding: 0 0 0.72rem;
			.categories { display: none;}
			.nav {
				text-align: center;
				li {
					display: inline-block;
					a {
						display: inline-block;
						padding: 0 0.12rem;
						color: $light1;
						font-size: 0.14rem;}
				}
			}
		}
		.menu, .intro, .follow, .down {
			display: none;}
	}
	.search_on {
		.search {
			input {
				width: 3.2rem;
				cursor: text;
				@include animation (fadein 0.3s $easing1 0.3s both);}
			&:after {
				width: 3.2rem;
				background: $bg1;
				box-shadow: $shadow1;}
		}
	}
}
// pc
@media only screen and (min-width: $pc-min){
	.header {
		background: $bg4;
		.menu { display: none;}
		.search {
			float: right;
			height: 0.3rem;
			margin: 0.15rem 0.15rem 0;
			background: $bg1;
			border-radius: 0.3rem;
			position: relative;
			.icon-icon_search {
				float: right;
				width: 0.32rem;
				height: 0.3rem;
				line-height: 0.3rem;
				color: $dark1;
				&:before { font-size: 0.24rem;}
			}
			input {
				float: left;
				display: block;
				width: 0.6rem;
				height: 100%;
				text-indent: 0.15rem;
				color: $dark2;
				@include transition (width 0.3s $easing1);
				&:focus {
					width: 1.92rem;
					color: $dark1;}
			}
		}
		.title {
			float: left;
			height: 0.6rem;
			line-height: 0.6rem;
			a {
				display: block;
				padding: 0 0.24rem;
				&:hover { color: $bg1;}
			}
		}
		.menu_wrapper {
			float: right;
			.categories { display: none;}
			.nav {
				li {
					display: inline-block;
					height: 0.6rem;
					line-height: 0.6rem;
					a {
						display: inline-block;
						padding: 0 0.12rem;
						color: $light1;
						font-size: 0.14rem;
						position: relative;
						z-index: 5;
						&:after {
							content: "";
							display: block;
							width: 100%;
							height: 60%;
							background: $primary1;
							border-radius: 0.03rem;
							box-shadow: $shadow1;
							position: absolute;
							left: 0;
							top: 20%;
							z-index: -1;
							@include transition-transform (0.3s,$easing1);
							@include transform-origin (50% 0%);
							@include transform (scale(0,1));}
						&:hover { color: $bg1;}
						&:hover:after { @include transform (scale(1,1));}
					}
				}
			}
		}
		.intro {
			clear: both;
			display: none;
			width: 100%;
			padding: 0.5rem 0 0;
			background: url(/template/images/slogen.png) no-repeat center top;
			background-size: 405px 53px;
			text-align: center;
			color: $light1;
			position: absolute;
			left: 0;
			top: 35%;
			z-index: 5;
			.text { display: none;}
			.qr {
				.icon-icon_qr {
					display: inline-block;
					width: 0.8rem;
					height: 0.8rem;
					line-height: 0.8rem;
					color: $light1;
					@include transition-transform (0.3s,$easing1);
					@include transform-origin (50% 50%);
					@include transform (scale(1,1));
					&:before { font-size: 0.48rem;}
					&:hover { @include transform (scale(1.1,1.1));}
				}
				.qr_code_wrap {
					width: 100%;
					position: absolute;
					left: 0;
					top: -0.48rem;
					@include transition-transform (0.3s,$easing1);
					@include transform-origin (50% 36%);
					@include transform (scale(0));
					.qr_code {
						width: 1.92rem;
						margin: 0 auto;
						padding: 0 0 0.08rem;
						background: $bg1;
						box-shadow: $shadow2;
						.img {
							width: 1.92rem;
							height: 1.92rem;
							background: url(/template/images/qrcode.png) no-repeat center center;
							background-size: cover;}
						p {
							line-height: 1.4;
							padding: 0 0 0.05rem;
							color: $dark1;
							font-size: 0.14rem;}
					}
				}
			}
			.qr_show .qr_code_wrap { @include transform (scale(1));}
		}
		.follow {
			display: none;
			width: 100%;
			text-align: center;
			position: absolute;
			left: 0;
			top: 55%;
			z-index: 4;
			.social {
				display: inline-block;
				height: 0.24rem;
				padding: 0.05rem 0.08rem;
				border: 1px solid $light2;
				border-radius: 0.03rem;
				a {
					display: inline-block;
					background: url(/template/images/social.png) no-repeat;
					background-size: 120px 24px;
					width: 0.24rem;
					height: 0.24rem;
					overflow: hidden;
					margin: 0 0.05rem;
					text-indent: -100rem;
					@include transition-transform (0.3s,$easing1);
					@include transform-origin (50% 50%);
					@include transform (translate(0,0));
					&:hover { @include transform (translate(0,-0.02rem));}
				}
				.weibo { background-position: -0px 0;}
				.douban { background-position: -24px 0;}
				.pinterest { background-position: -48px 0;}
				.github { background-position: -72px 0;}
				.behance { background-position: -96px 0;}
			}
		}
		.down { display: none;}
	}
	.index_header .header {
		height: 100vh;
		background-image: $bg_img;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		position: relative;
		.intro, .follow, .down { display: block;}
		.intro { @include animation (fadein_up 0.5s $easing1 0.3s both);}
		.intro .qr { @include animation (fadein_up 0.5s $easing1 0.6s both);}
		.follow { @include animation (fadein_up 0.5s $easing1 0.8s both);}
		.down {
			width: 100%;
			text-align: center;
			position: absolute;
			left: 0;
			bottom: 5%;
			.icon-arrow2_down {
				color: $light2;
				@include animation (jump 0.5s $easing1 both infinite);
				&:hover { color: $light1;}
			}
		}
	}
}


//*****************************  footer  ******************************//

@media only screen and (max-width: $pad_landscape-max){
	.footer { display: none;}
}
@media only screen and (min-width: $pc-min){
	.footer {
		padding: 0.3rem 0;
		.logo {
			width: 40px;
			height: 46px;
			margin: 0 auto 0.15rem;
			background: url(/template/images/logo.png) no-repeat center center;
			background-size: 40px 46px;}
		p {
			line-height: 0.32rem;
			text-align: center;
			color: $dark2;
			font-size: 0.12rem;
			a {
				color: $dark2;
				&:hover { color: $primary1;}
			}
			i { padding: 0 0.04rem;}
		}
		.gotop {
			display: block;
			width: 0.4rem;
			height: 0.4rem;
			overflow: hidden;
			color: $bg1;
			text-align: center;
			position: fixed;
			right: 0;
			bottom: 0;
			z-index: 9;
			@include transition-transform (0.3s, $easing1);
			@include transform-origin (100% 100%);
			@include transform (scale(1));
			@include animation (zoomin 0.3s $easing1);
			&:before {
				font-size: 0.3rem;
				position: absolute;
				right: 0.03rem;
				bottom: 0.03rem;
				z-index: 2;}
			&:after {
				content: "";
				width: 200%;
				height: 200%;
				background: $primary2;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				@include transition (background 0.3s $easing1);}
			&:hover { @include transform (scale(1.2));}
			&:hover:after { background: $primary1;}
		}
	}
}


//*************************  context format  **************************//

.post_body {
	line-height: 1.6;
	img { max-width: 100%;}
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.2;
		margin: 0.5rem 0 0.35rem;
		font-weight: bold;}
	h2 {
		padding: 0 0 0 0.15rem;
		border-left: 0.04rem solid $primary2;
	}
	p, pre, iframe {
		display: block;
		line-height: 1.6;
		margin: 0.25rem 0;
	}
	.xiami-player { margin: 0 0 0.25rem;} //虾米音乐播放组件
	i, em { font-style: italic;}
	b, strong { font-weight: bold;}
	ul {
		margin: 0.25rem 0;
		padding: 0 0 0 0.3rem;
		list-style: disc;}
	ol {
		margin: 0.25rem 0;
		padding: 0 0 0 0.3rem;
		list-style: decimal;}
	blockquote {
		padding: 0.15rem 0 0.15rem 0.15rem;
		margin: 0.25rem 0;
		background: $bg2;
		font-size: 0.14rem;
		position: relative;
		p { margin: 0;}
		&:after {
			content: "“";
			line-height: 1;
			font-size: 1rem;
			font-family: "Forum", sans-serif;
			color: $dark4;
			position: absolute;
			left: -0.08rem;
			top: -0.2rem;
		}
	}
	hr {
		width: 100%;
		height: 1px;
		margin: 0.25rem 0;
		padding: 0;
		background: none;
		border: none;
		border-bottom: 1px solid $dark4;}
	table {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0.25rem 0;
		width: 100%;
		max-width: 100%;
		border-width: 1px;
		border-style: solid;
		background-color: transparent;}
	table, table tr, table tr td, table tr th {
		border-color: #e5e5e5;}
	table th {
		color: #666666;
		background-color: #fdfdfd;}
	tr th {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		text-align: left;}
	tr th, tr td {
		padding: 5px 20px;
		border-right: 1px solid;
		font-size: 0.16rem;}
	tr th:last-child, tr td:last-child {
		border-right: 0px;}
	table th {
		font-weight: bold;}
	table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th {
		background-color: #f9f9f9;}
	.gist {
		margin: 0.25rem 0;
		font-size: 12px;}
	.gist table {
		margin: 0;
		width: auto;}
	.gist table pre {
		font-size: 12px;}
	.gist table .line-numbers {
		font-size: 12px;}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	.post_body {
		font-size: 0.2rem;
		h1, h2, h3, h4, h5, h6 { letter-spacing: 0.004rem;}
		h1 { font-size: 0.35rem;}
		h2 { font-size: 0.28rem;}
		h3 { font-size: 0.24rem;}
		h4 { font-size: 0.21rem;}
		h5 { font-size: 0.18rem;}
		h6 { font-size: 0.16rem;}
		blockquote { background: $bg3; }
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	.post_body {
		h1, h2, h3, h4, h5, h6 { letter-spacing: -0.003em;}
		h1 { font-size: 0.35rem;}
		h2 { font-size: 0.28rem;}
		h3 { font-size: 0.24rem;}
		h4 { font-size: 0.21rem;}
		h5 { font-size: 0.18rem;}
		h6 { font-size: 0.16rem;}
	}
}


//******************************  toc  ********************************//

.detail .post_body .toc {
	width: 0;
	overflow: hidden;
	background: $bg1;
	box-shadow: $shadow1;
	position: fixed;
	right: 0;
	z-index: 19;
	@include transition (width 0.3s $easing1);
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		display: block;
		line-height: 1.3;
		padding: 0.08rem 0.2rem;
		font-size: 0.14rem;
		color: $dark2;
	}
	& > ul {
		width: 2rem;
		height: 100%;
		overflow-y: auto;
		@include transition-transform (0.3s, $easing1);
		@include transform-origin (0% 0%);
		@include transform (translate(100%, 0));
		& > li {
			padding: 0.1rem 0;
			border-bottom: 1px solid $dark4;
			& > a {
				font-size: 0.16rem;
				color: $dark1;
			}
		}
	}
	li li {
		padding-left: 0.15rem;
	}
}
.detail .post_body .toc_active {
	width: 2rem;
	& > ul {
		@include transform (translate(0, 0));
	}
}
.post a.directory {
	display: none;
	background: $primary2;
	border-radius: 0.5rem 0 0 0.5rem;
	color: $bg1;
	opacity: 0.95;
	position: fixed;
	right: 0;
	z-index: 19;
	@include transition (right 0.3s $easing1, background 0.3s $easing1);
}
.post a.directory_active {
	background: $primary1;
	right: 2rem;
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	.detail .post_body .toc {
		top: 0;
		bottom: 0;
		a:active {
			background-color: $bg2;
		}
	}
	.post a.directory {
		width: 0.4rem;
		height: 0.24rem;
		line-height: 0.24rem;
		font-size: 0.12rem;
		text-indent: 0.1rem;
		top: 1.94rem;
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	.detail .post_body .toc {
		top: 8vh;
		& > ul {
			min-height: 3.5rem;
			max-height: 84vh;
		}
	}
	.post a.directory {
		height: 0.32rem;
		line-height: 0.32rem;
		font-size: 0.14rem;
		text-indent: 0.12rem;
	}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	.detail .post_body .toc {
		a:active {
			background-color: $bg2;
		}
	}
	.post a.directory {
		width: 0.7rem;
		top: 3.4rem;
	}
}
// pc
@media only screen and (min-width: $pc-min){
	.detail .post_body .toc {
		a:hover {
			background-color: $bg2;
		}
	}
	.post a.directory {
		width: 0.5rem;
		top: 1.8rem;
		&:hover {
			background: $primary1;
		}
	}
}


//***************************  pagination  ****************************//

.pager {
	width: 100%;
	a {
		display: block;
		font-size: 0.32rem;
		text-align: center;}
	.paging {
		display: block;
		@include aColor ($dark1);
	}
	.pre {
		float: left;
		.arrow { float: left;}
		span { float: left;}
	}
	.next {
		float: right;
		.arrow { float: right;}
		span { float: right;}
	}
	.gotop {
		width: 33%;
		margin: auto;
		@include aColor ($dark1);}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	.pager {
		a {
			height: 0.48rem;
			line-height: 0.48rem;
		}
		.paging {
			width: 33%;
			.arrow {
				width: 0.48rem;
				height: 0.48rem;
				line-height: 0.48rem;}
			span { display: none;}
		}
	}
	.list .pager { border-top: 1px solid $dark4;}
	.detail .pager {
		border-top: 1px solid $dark4;
		border-bottom: 1px solid $dark4;}
	.special .pager {
		border-top: 1px solid $dark4;
		border-bottom: 1px solid $dark4;}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	.pager {
		a {
			height: 0.56rem;
			line-height: 0.56rem;
		}
		.paging {
			width: 33%;
			.arrow {
				width: 0.56rem;
				height: 0.56rem;
				line-height: 0.56rem;}
			span { display: none;}
		}
	}
	.list .pager {
		background: $bg1;
		border-radius: 0.03rem;
		box-shadow: $shadow1;}
	.detail .pager {
		background: darken($bg1, 2.3%);
		border-top: 1px solid $dark4;}
	.special .pager {
		border-top: 1px solid $dark4;
		border-bottom: 1px solid $dark4;}
	#works .pager {
		display: none;}
}
// pc
@media only screen and (min-width: $pc-min){
	.pager {
		a {
			height: 0.64rem;
			line-height: 0.64rem;
		}
		.paging {
			&:hover { color: $primary1;}
			.arrow {
				width: 0.64rem;
				height: 0.64rem;
				line-height: 0.64rem;}
			span {
				max-width: 1.44rem;
				height: 100%;
				overflow: hidden;
				font-size: 0.14rem;}
		}
		.gotop { display: none;}
	}
	.list .pager {
		background: $bg1;
		border-radius: 0.03rem;
		box-shadow: $shadow1;}
	.detail .pager {
		background: darken($bg1, 2.3%);
		border-top: 1px solid $dark4;}
	.special .pager {
		display: none;}
}





//*********************************************************************//
//                             basic pages                             //
//*********************************************************************//


//******************************  list  *******************************//

// phone
@media only screen and (max-width: $phone_landscape-max){
	.list {
		@include display-flex ();
		@include flex-flow (row wrap);
		.post {
			@include flex (1 1 2.4rem);
			position: relative;
			.content {
				height: 1.2rem;
				overflow: hidden;
				padding: 0.15rem;
				box-shadow: $shadow3;
				.title {
					height: 0.25rem;
					overflow: hidden;
					margin: 0 0 0.06rem;
					font-size: 0.18rem;
					text-overflow: ellipsis;
					white-space: nowrap;
					a { font-weight: bold;}
				}
				.post_body {
					margin: 0 0 0.08rem;
					font-size: 0.14rem;}
				.info {
					font-size: 0.12rem;
					.date .icon-icon_clock { display: none;}
					.visitors, .tags { display: none;}
				}
			}
		}
		.text {
			.content {
				.title a { @include aColor ($dark1);}
				.post_body {
					height: 0.64rem;
					overflow: hidden;
					p {
						line-height: 1.5;
						margin: 0;}
				}
				.info { color: $dark2;}
			}
		}
		.img {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			.content {
				.title {
					@include transform (translate(0, 0.72rem));
					color: $light1;
					a { @include aColor ($light1);}
				}
				.post_body { display: none;}
				.info {
					color: $light1;
					@include transform (translate(0, 0.72rem));}
			}
		}
		.img:nth-child(3n+1) .content { background: rgba(mix($primary1,#000,0.7),0.85);}
		.img:nth-child(3n+2) .content { background: rgba(mix($accent1,#000,0.6),0.85);}
		.img:nth-child(3n+3) .content { background: rgba(mix($accent3,#000,0.9),0.85);}
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	.list {
		padding: 0.3rem 0;
		.post {
			margin: 0 0 0.3rem;
			background: $bg1;
			border-radius: 0.03rem;
			box-shadow: $shadow1;
			.content { padding: 0.4rem;}
			.title {
				margin: 0 0 0.15rem;
				font-size: 0.3rem;}
			.post_body {
				img { max-width: 3.2rem;}
			}
			.info {
				font-size: 0.12rem;
				color: $dark2;
				.date {
					float: left;
					margin: 0 0.2rem 0 0;
					.icon-icon_clock {
						float: left;
						display: inline;
						margin: 0 0.05rem 0 0;
						font-size: 0.28rem;}
					time {
						float: left;
						line-height: 0.28rem;}
				}
				.visitors {
					float: left;
					margin: 0 0.2rem 0 0;
					.icon-icon_book {
						float: left;
						display: inline;
						line-height: 1.08;
						margin: 0 0.05rem 0 0;
						font-size: 0.28rem;}
					span {
						float: left;
						line-height: 0.28rem;}
				}
				.tags {
					line-height: 0.28rem;
					a { margin: 0 0.06rem 0 0;}
				}
			}
		}
	}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	.list { margin: 0 0.3rem;}
}


//******************************  post  *******************************//

// phone
@media only screen and (max-width: $phone_landscape-max){
	.detail {
		border-top: 1.5rem solid $bg4;
		.title {
			width: 90%;
			line-height: 1.2;
			font-size: 0.24rem;
			text-align: center;
			color: $light1;
			position: absolute;
			left: 5%;
			top: 0.8rem;}
		.post_body {
			padding: 0 0 0.15rem;
			p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote {
				margin-left: 0.2rem;
				margin-right: 0.2rem;}
			li > p {
				margin-left: 0;
				margin-right: 0;
			}
			.xiami-player { //虾米音乐播放组件
				margin-left: 0.2rem;
				margin-right: 0.2rem;}
			img { width: 100%;}
			.xiami-player img { width: auto;} //虾米音乐播放组件
		}
		.info {
			.date {
				width: 100%;
				text-align: center;
				font-size: 0.16rem;
				color: $light1;
				position: absolute;
				left: 0;
				top: 1.44rem;
				.icon-icon_clock { display: none;}
			}
			.visitors, .tags { display: none;}
		}
	}
	.doc_comments, .ds-thread { //评论组件
		padding: 0.15rem 0.15rem 0;
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	.detail {
		background: $bg1;
		border-radius: 0.03rem;
		box-shadow: $shadow1;
		.content { padding: 0.4rem;}
		.title {
			margin: 0 0 0.15rem;
			padding: 0 0 0.15rem;
			border-bottom: 1px solid $dark4;
			font-size: 0.3rem;}
		.post_body {
			blockquote p {
				margin-left: 0.2rem;
				margin-right: 0.2rem;
			}
		}
		.info {
			font-size: 0.12rem;
			color: $dark2;
			.date {
				float: left;
				margin: 0 0.2rem 0 0;
				.icon-icon_clock {
					float: left;
					display: inline;
					margin: 0 0.05rem 0 0;
					font-size: 0.28rem;}
				time {
					float: left;
					line-height: 0.28rem;}
			}
			.visitors {
				float: left;
				margin: 0 0.2rem 0 0;
				.icon-icon_book {
					float: left;
					display: inline;
					line-height: 1.08;
					margin: 0 0.05rem 0 0;
					font-size: 0.28rem;}
				span {
					float: left;
					line-height: 0.28rem;}
			}
			.tags {
				line-height: 0.28rem;
				a { margin: 0 0.06rem 0 0;}
			}
		}
	}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	.detail { margin: 0.3rem;}
	.doc_comments, .ds-thread { //评论组件
		margin: 0.5rem 0.3rem;
	}
}
// pc
@media only screen and (min-width: $pc-min){
	.detail { margin: 0.3rem auto;}
	.doc_comments, .ds-thread { //评论组件
		margin: 0.5rem auto;
	}
}


//****************************  archive  *****************************//

.list .archive {
	h1 {
		padding: 0 0 0.08rem;
		text-align: center;
		font-size: 0.32rem;
	}
	ul li {
		time {
			float: left;
			display: block;
			width: 0.5rem;
			line-height: 0.28rem;
			font-size: 0.14rem;
			color: $dark2;
		}
		a {
			display: block;
			margin: 0 0 0 0.56rem;
			font-size: 0.18rem;
		}
	}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	.list {
		.archive {
			width: 100%;
			position: relative;
			.content {
				padding: 0.15rem;
				box-shadow: $shadow3;
				ul li {
					margin: 0 0 0.08rem;
				}
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	.list {
		padding: 0.3rem 0;
		.archive {
			margin: 0 0 0.3rem;
			background: $bg1;
			border-radius: 0.03rem;
			box-shadow: $shadow1;
			.content {
				padding: 0.4rem;
				ul li {
					padding: 0.12rem 0;
					border-bottom: 1px solid $dark4;
					&:last-of-type {
						border: none;
					}
				}
			}
		}
	}
}





//*********************************************************************//
//                            special page                             //
//*********************************************************************//


//***************************  categories  ****************************//

#categories .cat_list {
	@include display-flex ();
	@include flex-flow (row wrap);
	li {
		@include flex (1 1 3.2rem);
		.pic {
			display: block;
			span {
				display: block;
				width: 100%;
				height: 100%;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;}
		}
	}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	#categories .cat_list {
		padding: 0 0 0.5rem;
		li {
			padding: 0.5rem 0 0;
			text-align: center;
			&:last-of-type { padding: 0; }
			.pic {
				display: inline-block;
				width: 1.8rem;
				height: 1.8rem;
				overflow: hidden;
				border-radius: 50%;}
			h2 {
				margin: 0.12rem 0;
				a { font-size: 0.18rem;}
			}
			p {
				padding: 0 0.4rem;
				font-size: 0.14rem;}
		}
	}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	#categories .cat_list {
		padding: 0 0.5rem 0.6rem;
		li {
			padding: 0.6rem 0 0;
			&:last-of-type { padding: 0; }
			.pic {
				display: block;
				height: 1.6rem;
				margin: 0 0.15rem;
				span { border-radius: 0.03rem;}
			}
			h2 {
				margin: 0.15rem 0.15rem 0.08rem;
				a { font-size: 0.18rem;}
			}
			p {
				margin: 0 0.15rem;
				font-size: 0.14rem;}
		}
	}
}
// pc
@media only screen and (min-width: $pc-min){
	#categories .cat_list {
		padding: 0 0 0.45rem;
		li {
			padding: 0.45rem 0 0;
			&:last-of-type { padding: 0; }
			.pic {
				display: block;
				height: 1.6rem;
				overflow: hidden;
				margin: 0 0.15rem;
				span {
					border-radius: 0.03rem;
					opacity: 0;
					@include transition-transform (1s, $easing1);
					@include transform-origin (50% 50%);
					@include transform (scale(1));
					&:hover { @include transform (scale(1.05));}
				}
			}
			&:nth-child(1) .pic span { @include animation (fadein 1.2s $easing1 0s both);}
			&:nth-child(2) .pic span { @include animation (fadein 1.2s $easing1 0.05s both);}
			&:nth-child(3) .pic span { @include animation (fadein 1.2s $easing1 0.1s both);}
			&:nth-child(4) .pic span { @include animation (fadein 1.2s $easing1 0.15s both);}
			&:nth-child(5) .pic span { @include animation (fadein 1.2s $easing1 0.2s both);}
			&:nth-child(6) .pic span { @include animation (fadein 1.2s $easing1 0.25s both);}
			&:nth-child(7) .pic span { @include animation (fadein 1.2s $easing1 0.3s both);}
			&:nth-child(8) .pic span { @include animation (fadein 1.2s $easing1 0.35s both);}
			&:nth-child(9) .pic span { @include animation (fadein 1.2s $easing1 0.4s both);}
			h2 {
				margin: 0.25rem 0.15rem 0.08rem;
				a { font-size: 0.18rem;}
			}
			p {
				margin: 0 0.15rem;
				font-size: 0.14rem;}
		}
	}
}


//*****************************  movies  ******************************//

#movie {
	h3 a img {
		width: 94px;
		height: 150px;
		border-radius: 0.03rem;
		opacity: 0;
		@include animation (fadein 1.2s $easing1 both);}
	.text {
		a { line-height: 1.3;}
		.content p {
			line-height: 1.3;
			margin: 0 0 0.1rem;}
	}
}
// phone and pad
@media only screen and (max-width: $pad_landscape-max){
	#movie {
		li {
			.item {
				padding: 1px 0;
				h3 {
					float: left;
					position: relative;}
				.text {
					margin: 0 0 0 1.1rem;
					a {
						display: inline-block;
						margin: 0 0 0.12rem;}
				}
			}
		}
	}
}
// phone_portrait
@media only screen and (max-width: $phone_portrait-max){
	#movie {
		li {
			padding: 0.4rem 0.15rem 0;
			&:last-of-type { padding: 0.4rem 0.15rem; }
			.item {
				h3 a img {
					width: 62px;
					height: 100px;}
				.text {
					margin: 0 0 0 0.8rem;
				}
			}
		}
	}
}
// phone_landscape
@media only screen and (min-width: $phone_landscape-min) and (max-width: $phone_landscape-max){
	#movie {
		li {
			padding: 0.4rem 0.25rem 0;
			&:last-of-type { padding: 0.4rem 0.25rem; }
			.item {
				h3 a img {
					width: 94px;
					height: 150px;}
				.text {
					margin: 0 0 0 1.1rem;
				}
			}
		}
	}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	#movie {
		li {
			margin: 0 0.8rem;
			padding: 0.64rem 0 0;
			&:last-of-type { padding: 0.64rem 0; }
			.item .text { font-size: 0.18rem;}
		}
	}
}
// pc
@media only screen and (min-width: $pc-min){
	#movie {
		padding: 0.45rem 0 0;
		li {
			float: left;
			display: block;
			width: 100px;
			height: 2.1rem;
			position: relative;
			.item {
				min-height: 190px;
				border-radius: 0.03rem;
				position: absolute;
				top: 0;
				h3 {
					width: 100px;
					line-height: 1.2;
					padding: 3px 0 0.12rem;
					@include transition (opacity 1s $easing1);
					img { padding:3px;}
				}
				.text {
					a {
						display: block;
						width: 94px;
						color: $dark1;
						font-size: 0.12rem;
						text-align: center;
						position: absolute;
						top: 160px;}
					.content {
						display: none;
						width: 280px;
						padding: 10px;
						color: $dark1;
						font-size: 0.12rem;}
				}
			}
			.hover {
				padding: 10px;
				background: $bg1;
				box-shadow: $shadow1;
				top: -10px;
				z-index: 5;
				.text {
					a {
						top: 170px;}
					.content { display:block;}
				}
			}
		}
		li:nth-child(12n+1),
		li:nth-child(12n+2),
		li:nth-child(12n+3),
		li:nth-child(12n+4),
		li:nth-child(12n+5),
		li:nth-child(12n+6),
		li:nth-child(12n+7),
		li:nth-child(12n+8),
		li:nth-child(12n+9) {
			.item {
				left: 0;
				h3 { float: left;}
				.text {
					a { left: 3px;}
					margin: 0 0 0 100px;}
			}
			.hover {
				left: -10px;
				.text a {
					left: 13px;}
			}
		}
		li:nth-child(12n+10),
		li:nth-child(12n+11),
		li:nth-child(12n+12) {
			.item {
				right: 0;
				h3 { float: right;}
				.text {
					a { right: 3px;}
					margin: 0 100px 0 0;}
			}
			.hover {
				right: -10px;
				.text a {
					right: 13px;}
			}
		}
	}
}


//*****************************  works  *******************************//

// phone
@media only screen and (max-width: $phone_landscape-max){
	#works {
		.play { display: none;}
		.pic {
			padding: 0 0.1rem 0.3rem;
			text-align: center;
			.title_content {
				padding: 0.5rem 0 0.25rem;
				margin: 0 0 0.15rem;
				color: $accent3;
				h2 { font-size: 0.3rem;}
			}
			img {
				display: block;
				margin: 0 auto 0.25rem;
				max-width: 100%;
				box-shadow: $shadow1;}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	#works {
		.play {
			padding: 1.5rem 0 1.2rem;
			background: $bg2;
			box-shadow:inset 0 0 1.5rem $dark3;
			text-align: center;
			.start {
				display: block;
				width: 0.9rem;
				height: 0.9rem;
				margin: auto;
				border: 0.08rem solid $primary1;
				border-radius: 50%;
				position: relative;
				&:after {
					content: "";
					display: block;
					width: 0;
					height: 0;
					overflow: hidden;
					border-left: 0.2rem solid $primary1;
					border-top: 0.15rem dashed transparent;
					border-bottom: 0.15rem dashed transparent;
					position: absolute;
					left: 0.38rem;
					top: 0.3rem;}
			}
			.slogen {
				margin: 0.3rem 0 0;
				font-size: 0.28rem;}
			.area {
				font-size: 0.14rem;
				color: $dark2;}
		}
		.pic {
			width: 0px;
			height:0px;
			overflow:hidden;}
	}
	.fancybox-slide .title_content {
		width: 650px;
		padding: 150px 0;
		text-align: center;
		h2 {
			padding: 0 0 15px;
			font-size: 28px;
			color: $accent3;}
		p {
			font-size: 18px;
			color: $accent3;}
	}
}
// pc
@media only screen and (min-width: $pc-min){
	#works {
		padding: 0.45rem 0 0;
		opacity: 0;
		@include animation (fadein 1.2s $easing1 both);
		.play { border-radius: 0.08rem;}
	}
}


//*****************************  about  *******************************//

#about {
	.intro {
		background: url(/template/images/bg_about.jpg) no-repeat center center;
		background-size: cover;
		@include animation (fadein 1.2s $easing1 both);
		.avatar {
			margin: 0 auto;
			background: url(/template/images/avatar.png) no-repeat center center;
			background-size: cover;
			border-radius: 50%;}
		p {
			padding: 0.25rem 0 0;
			text-align: center;
			color: $light1;}
	}
	h2.title {
		padding: 1rem 0 0.4rem;
		text-align: center;
		font-size: 0.18rem;
		color: $accent3;
		strong {
			display: block;
			line-height: 1;
			font-size: 0.8rem;}
	}
	.skills {
		ul {
			@include display-flex ();
			@include flex-flow (row wrap);
			li {
				.item {
					margin: auto;
					.text {
						p {
							text-align: center;
							color: $primary1;}
						span { display: none;}
					}
				}
			}
		}
	}
	.remark {
		.myself {
			text-align: center;
			p { padding: 0.15rem 0;}
		}
		.friends {
			padding: 0.3rem 0 0;
			.column {
				.item {
					padding: 0.3rem;
					background: $bg1;
					h4 {
						padding: 0 0 0.15rem;
						span {
							padding: 0 0.12rem 0 0;
							font-size: 0.25rem;
							color: $accent1;}
					}
					.content {
						p {
							padding: 0.05rem 0;
							text-indent: 2em;}
					}
				}
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	#about {
		.intro {
			padding: 0.5rem 0;
			.avatar {
				width: 1rem;
				height: 1rem;}
		}
		h2.title { padding: 0.5rem 0 0.15rem;}
		.skills {
			li {
				margin: 0 0 0.15rem;
				&:last-of-type { margin: 0; }
				.item {
					width: 80px;
					height: 80px;
					.pie_left_wrap,
					.pie_left { clip: rect(auto,40px,auto,auto);}
					.pie_right_wrap,
					.pie_right { clip: rect(auto,auto,auto,40px);}
					.text {
						width: 76px;
						height: 76px;
						left: 2px;
						top: 2px;
						p {
							line-height: 76px;
							font-size: 0.14rem;}
					}
				}
			}
		}
		.remark .friends .item {
			margin: 0 0 0.3rem;
			border-top: 1px solid $dark4;
			border-bottom: 1px solid $dark4;}
	}
}
// phone_portrait
@media only screen and (max-width: $phone_portrait-max){
	#about {
		.skills {
			padding: 0 0.15rem;
			li {
				@include flex (0 1 33.3%);
			}
		}
	}
}
// phone_landscape
@media only screen and (min-width: $phone_landscape-min) and (max-width: $phone_landscape-max){
	#about {
		.skills {
			padding: 0 0.3rem;
			li {
				@include flex (0 1 20%);
			}
		}
	}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	#about {
		.intro {
			padding: 1.3rem 0 0.8rem;
			background: none;
			.avatar {
				width: 1.6rem;
				height: 1.6rem;
				border: 1px solid $dark4;}
			p {
				color: $dark1;
				font-size: 0.18rem;}
		}
		.skills {
			li {
				@include flex (0 1 20%);
				.item {
					width: 116px;
					height: 116px;
					.pie_left_wrap,
					.pie_left { clip: rect(auto,58px,auto,auto);}
					.pie_right_wrap,
					.pie_right { clip: rect(auto,auto,auto,58px);}
					.text {
						width: 112px;
						height: 112px;
						left: 2px;
						top: 2px;
						p {
							line-height: 112px;
							font-size: 0.18rem;}
					}
				}
			}
		}
		.remark .friends {
			padding: 0.3rem 0;
			.item {
				width: 70%;
				margin: 0 auto 0.3rem;
				box-shadow: $shadow1;}
		}
	}
}
// pad_portrait
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_portrait-max){
	#about {
		.skills {
			padding: 0 0.3rem;
			ul {
				padding: 0.15rem 0 0;
				li {
					margin: 0 0 0.25rem;
					&:last-of-type { margin: 0; }
				}
			}
		}
	}
}
// pad_landscape
@media only screen and (min-width: $pad_landscape-min) and (max-width: $pad_landscape-max){
	#about {
		.skills {
			padding: 0 0.8rem;
			ul {
				padding: 0.3rem 0 0;
				li {
					margin: 0 0 0.5rem;
					&:last-of-type { margin: 0; }
				}
			}
		}
	}
}
// pc
@media only screen and (min-width: $pc-min){
	#about {
		.intro {
			padding: 1.9rem 0;
			opacity: 0;
			.avatar {
				width: 1.6rem;
				height: 1.6rem;}
			p { font-size: 0.18rem;}
		}
		.skills {
			max-width: 9.6rem;
			margin: auto;
			ul {
				padding: 0.3rem 0 0;
				li {
					@include flex (0 1 20%);
					margin: 0 0 0.5rem;
					&:last-of-type { margin: 0; }
					.item {
						width: 130px;
						height: 130px;
						.pie_left_wrap,
						.pie_left { clip: rect(auto,65px,auto,auto);}
						.pie_right_wrap,
						.pie_right { clip: rect(auto,auto,auto,65px);}
						.text {
							width: 126px;
							height: 126px;
							left: 2px;
							top: 2px;
							p {
								line-height: 126px;
								font-size: 0.2rem;}
						}
					}
				}
			}
		}
		.remark .friends {
			.column {
				float: left;
				width: 48.5%;
				&:first-of-type { margin: 0 3% 0 0;}
				.item {
					margin: 0 0 0.3rem;
					box-shadow: $shadow1;
					.content p { font-size: 0.14rem;}
				}
			}
		}
	}
}


//*****************************  tools  *******************************//

#tools {
	text-align: center;
	p.intro {
		max-width: 4.8rem;
		margin: auto;}
	ul {
		@include display-flex ();
		@include flex-flow (row wrap);
		li {
			a {
				display: block;
				line-height: 0;
				img {
					width: 100%;
					border-radius: 0.03rem;}
			}
			h2 {
				padding: 0.15rem 0 0.08rem;
				font-size: 0.16rem;}
			p {
				font-size: 0.14rem;
				color: $dark2;}
		}
	}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	#tools {
		h1.title {
			padding: 0.2rem 0.08rem 0;
			font-size: 0.32rem;}
		p.intro {
			padding: 0 0.15rem 0.3rem;
			font-size: 0.15rem;}
		ul {
			padding: 0 0.15rem;
			li {
				@include flex (1 1 2.1rem);
				padding: 0 3% 0.3rem;
				&:last-of-type { padding-bottom: 0; }
			}
		}
	}
}
// phone_landscape
@media only screen and (min-width: $phone_landscape-min) and (max-width: $phone_landscape-max){
	#tools {
		ul i p { height: 1.5rem;}
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	#tools {
		h1.title {
			padding: 0.8rem 0 0;
			font-size: 0.4rem;}
		p.intro {
			padding: 0 0 0.6rem;
			font-size: 0.18rem;}
		ul li {
			@include flex (1 1 2.6rem);
			padding: 0 2% 0.3rem;
			&:last-of-type { padding-bottom: 0; }
			p { height: 1.1rem;}
		}
	}
}
// pad
@media only screen and (min-width: $pad_portrait-min) and (max-width: $pad_landscape-max){
	#tools {
		ul { padding: 0 12%;}
	}
}





//*********************************************************************//
//                             animation                               //
//*********************************************************************//


a { @include transition (color 0.5s $easing1, background-color 0.5s $easing1);}
@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes zoomin {
	0% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(1); }
}
@keyframes zoomin {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}
@-webkit-keyframes fadein_up {
	0% { opacity: 0; -webkit-transform: translate(0, 0.3rem); }
	100% { opacity: 1; -webkit-transform: translate(0, 0); }
}
@keyframes fadein_up {
	0% { opacity: 0; transform: translate(0, 0.3rem); }
	100% { opacity: 1; transform: translate(0, 0); }
}
@-webkit-keyframes jump {
	0% { -webkit-transform: translate(0, 0) }
	25% { -webkit-transform: translate(0, 0.02rem) }
	50% { -webkit-transform: translate(0, 0) }
	75% { -webkit-transform: translate(0, -0.02rem) }
	100% { -webkit-transform: translate(0, 0); }
}
@keyframes jump {
	0% { transform: translate(0, 0) }
	25% { transform: translate(0, 0.02rem) }
	50% { transform: translate(0, 0) }
	75% { transform: translate(0, -0.02rem) }
	100% { transform: translate(0, 0); }
}





//*********************************************************************//
//                         404 page not found                          //
//*********************************************************************//


.not_found {
	text-align: center;
	h1 { line-height: 1.2; }
	.img {
		background: url(/template/images/not_found.png) no-repeat center center;
		background-size: contain;}
	a {
		display: block;
		width: 2rem;
		height: 0.5rem;
		line-height: 0.5rem;
		margin: 0 auto;
		background: $primary1;
		border-radius: 0.03rem;
		color: $light1;}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	.not_found {
		padding: 0.64rem 0;
		h1 { font-size: 0.56rem;}
		.img {
			height: 1.3rem;
			margin: 0.5rem auto;}
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	.not_found {
		padding: 1rem 0;
		h1 { font-size: 0.8rem;}
		p { font-size: 0.18rem;}
		.img {
			height: 1.5rem;
			margin: 0.64rem auto;}
	}
}





//*********************************************************************//
//                         non-html5 browser                           //
//*********************************************************************//


.non_html5_bg {
	background: $accent3;
	.non_html5 {
		padding: 2.4rem 0 0;
		text-align: center;
		h1 {
			font-size: 0.38rem;
			color: #f5f5f5;}
		p {
			font-size: 0.16em;
			color: #f5f5f5;
			a {
				color: #f5f5f5;
				border-bottom: 1px solid #f5f5f5;}
		}
	}
}





//*********************************************************************//
//                              plugins                                //
//*********************************************************************//


//************************  circle progress  **************************//

.circle_progress { width: 200px; height: 200px; background: $primary1; border-radius: 50%; position: relative; }
.circle_progress .pie_left_wrap,
.circle_progress .pie_left,
.circle_progress .pie_right_wrap,
.circle_progress .pie_right { display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; }
.circle_progress .pie_left_wrap,
.circle_progress .pie_left { clip: rect(auto,100px,auto,auto); }
.circle_progress .pie_right_wrap,
.circle_progress .pie_right { clip: rect(auto,auto,auto,100px); }
.circle_progress .pie_left,
.circle_progress .pie_right { background: $primary3; border-radius: 50%;
	-webkit-transition: -webkit-transform 0.5s linear;
	transition: transform 0.5s linear;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.circle_progress .center { width: 180px; height: 180px; background: $bg2; border-radius: 50%; position: absolute; left: 10px; top: 10px; }


//**************************  baidu share  ****************************//

#baidu_share {
	padding: 0.3rem 0 0;
}
body {
	#baidu_share, .bdselect_share_content, .sr-bdimgshare {
		.bdshare-button-style1-32, .bdshare-button-style0-16 {
			a {
				background: url(/template/images/icon_share.png) no-repeat;
				&:hover {
					opacity: 1;
					position: relative;
					&:after {
						content: "";
						display: block;
						background: $light1;
						opacity: 0.2;
						position: absolute;
						left: 2px;
						right: 2px;
						top: 2px;
						bottom: 2px;
					}
				}
			}
			.bds_more {
				display: none;
			}
		}
		.bdshare-button-style1-32 {
			a {
				background: url(/template/images/icon_share.png) no-repeat;
				background-size: 128px 64px;
			}
			.bds_tsina {
				background-position: -0px -0px;
			}
			.bds_weixin {
				background-position: -32px -0px;
			}
			.bds_sqq {
				background-position: -64px -0px;
			}
			.bds_qzone {
				background-position: -96px -0px;
			}
			.bds_douban {
				background-position: -0px -32px;
			}
			.bds_twi {
				background-position: -32px -32px;
			}
			.bds_fbook {
				background-position: -64px -32px;
			}
		}
		.bdshare-button-style0-16 {
			a {
				padding-left: 16px;
				background: url(/template/images/icon_share.png) no-repeat;
				background-size: 64px 32px;
			}
			.bds_tsina {
				background-position: -0px -0px;
			}
			.bds_weixin {
				background-position: -16px -0px;
			}
			.bds_sqq {
				background-position: -32px -0px;
			}
			.bds_qzone {
				background-position: -48px -0px;
			}
			.bds_douban {
				background-position: -0px -16px;
			}
			.bds_twi {
				background-position: -16px -16px;
			}
			.bds_fbook {
				background-position: -32px -16px;
			}
			.bdimgshare-lbl {
				color: $dark1;
			}
		}
		.bdimgshare-bg {
			background: $bg1;
			opacity: 0.95;
		}
	}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	#baidu_share {
		padding: 0 0.15rem 0.3rem;
	}
}


//****************************  duoshuo  ******************************//

#fb_comments_container {
	max-width: 100%;
	overflow-x: hidden;
	#ds-thread #ds-reset {
		.ds-sync label {
			display: none;
		}
		.ds-textarea-wrapper {
			background: $bg1;
			border: 1px solid $dark4;
			border-bottom: none;
			border-radius: 0;
		}
		.ds-gradient-bg {
			background: $bg1;
		}
		.ds-post-toolbar {
			border-top: 1px solid lighten($dark4, 30%);
			.ds-replybox {
				padding: 0 0 0 0.86rem;
			}
		}
		.ds-post-options {
			border: 1px solid $dark4;
			border-top: 1px solid transparent;
			border-radius: 0;
		}
		.ds-post-button {
			background: $primary1;
			border: 1px solid $dark4;
			border-top: none;
			border-left: none;
			border-radius: 0;
			box-shadow: none;
			color: $light1;
			text-shadow: none;
			font-size: 0.18rem;
		}
		li.ds-tab a.ds-current {
			border: none;
			background: none;
		}
		.ds-comments {
			border-bottom: 1px solid lighten($dark4, 30%);
			li.ds-post {
				border-top: 1px solid lighten($dark4, 30%);
				.ds-post-self {
					padding: 0.25rem 0;
					border: none;
					.ds-comment-body {
						p {
							line-height: 1.8;
						}
					}
				}
			}
		}
	}
}



//***************************  code highlight  ***************************//

.codehilitetable {
	margin: 0;
	width: auto;
	tr th {
		border: none;
	}
	tr th, tr td {
		padding: 0;
		border: none;
	}
	.linenos pre {
		background: transparent;
		border: none;
	}
	pre {
		margin: 0;
	}
}

.codehilite code, .codehilite pre {
	overflow: scroll;
	word-break: break-word;
	color: #fdce93;
	background-color: #3f3f3f;
	padding: 10px;
	border-radius: 3px;
	font-size: 0.12rem;
}

.codehilite .hll {
background-color: #222; }

.codehilite .c {
color: #7f9f7f; }

.codehilite .err {
color: #e37170;
background-color: #3d3535; }

.codehilite .g {
color: #7f9f7f; }

.codehilite .k {
color: #f0dfaf; }

.codehilite .l {
color: #ccc; }

.codehilite .n {
color: #dcdccc; }

.codehilite .o {
color: #f0efd0; }

.codehilite .x {
color: #ccc; }

.codehilite .p {
color: #41706f; }

.codehilite .cm {
color: #7f9f7f; }

.codehilite .cp {
color: #7f9f7f; }

.codehilite .c1 {
color: #7f9f7f; }

.codehilite .cs {
color: #cd0000;
font-weight: bold; }

.codehilite .gd {
color: #cd0000; }

.codehilite .ge {
color: #ccc;
font-style: italic; }

.codehilite .gr {
color: red; }

.codehilite .gh {
color: #dcdccc;
font-weight: bold; }

.codehilite .gi {
color: #00cd00; }

.codehilite .go {
color: gray; }

.codehilite .gp {
color: #dcdccc;
font-weight: bold; }

.codehilite .gs {
color: #ccc;
font-weight: bold; }

.codehilite .gu {
color: purple;
font-weight: bold; }

.codehilite .gt {
color: #0040D0; }

.codehilite .kc {
color: #dca3a3; }

.codehilite .kd {
color: #ffff86; }

.codehilite .kn {
color: #dfaf8f;
font-weight: bold; }

.codehilite .kp {
color: #cdcf99; }

.codehilite .kr {
color: #cdcd00; }

.codehilite .kt {
color: #00cd00; }

.codehilite .ld {
color: #cc9393; }

.codehilite .m {
color: #8cd0d3; }

.codehilite .s {
color: #cc9393; }

.codehilite .na {
color: #9ac39f; }

.codehilite .nb {
color: #efef8f; }

.codehilite .nc {
color: #efef8f; }

.codehilite .no {
color: #ccc; }

.codehilite .nd {
color: #ccc; }

.codehilite .ni {
color: #c28182; }

.codehilite .ne {
color: #c3bf9f;
font-weight: bold; }

.codehilite .nf {
color: #efef8f; }

.codehilite .nl {
color: #ccc; }

.codehilite .nn {
color: #8fbede; }

.codehilite .nx {
color: #ccc; }

.codehilite .py {
color: #ccc; }

.codehilite .nt {
color: #9ac39f; }

.codehilite .nv {
color: #dcdccc; }

.codehilite .ow {
color: #f0efd0; }

.codehilite .w {
color: #ccc; }

.codehilite .mf {
color: #8cd0d3; }

.codehilite .mh {
color: #8cd0d3; }

.codehilite .mi {
color: #8cd0d3; }

.codehilite .mo {
color: #8cd0d3; }

.codehilite .sb {
color: #cc9393; }

.codehilite .sc {
color: #cc9393; }

.codehilite .sd {
color: #cc9393; }

.codehilite .s2 {
color: #cc9393; }

.codehilite .se {
color: #cc9393; }

.codehilite .sh {
color: #cc9393; }

.codehilite .si {
color: #cc9393; }

.codehilite .sx {
color: #cc9393; }

.codehilite .sr {
color: #cc9393; }

.codehilite .s1 {
color: #cc9393; }

.codehilite .ss {
color: #cc9393; }

.codehilite .bp {
color: #efef8f; }

.codehilite .vc {
color: #efef8f; }

.codehilite .vg {
color: #dcdccc; }

.codehilite .vi {
color: #ffffc7; }

.codehilite .il {
color: #8cd0d3; }


//******************************  cnzz  *******************************//

.statistic { display: none;}
